.slideInText {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.slideInText.active {
  opacity: 1;
  transform: translateX(0);
}

.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.sectionContainer > section:first-of-type {
  margin: auto 0;
}

.image {
  width: 100%;
  background-size: cover;
}

.contentSection {
  display: flex;
  flex-direction: column;
}

.bluePattern {
  background-image: url("src/Assets/Images/Blue-Pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/-1;
  padding: 3rem 5rem;
  color: #fff;
}

.bluePattern header {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 500;
}

.bluePattern p {
  text-align: justify;
  line-height: 1.5;
}

.titleStyle {
  font-size: 1.5rem;
  font-weight: 500;
}

.visibleContentStyle,
.hiddenContentStyle {
  color: rgba(133, 142, 173, 1);
  font-size: 1.25rem;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .visibleContentStyle,
  .hiddenContentStyle {
    font-size: 1rem;
  }
}
