.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 1216px;
  flex-wrap: wrap; 
}

.textSections {
  flex: 1;
  margin-left: 20px; /* Adjust spacing between photo and text */
}

.section {
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleInline {
  display: inline;
}

.section h2 {
  margin: 0;
  color: #000;
  font-weight: 500;
  font-size: 24px;
  flex-grow: 1; 
}

.section p {
  margin: 0 0 10px 0;
  color: #858ead;
  font-family: Roboto;
  font-size: 20px; /* Increased font size */
  font-weight: 400;
  line-height: 1.4;
}


.fullContent {
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  height: 0; /* Add this to initially hide the content */
  overflow: hidden;
}

.section.expanded .fullContent {
  transform: scaleY(1);
  opacity: 1;
  height: auto; /* Add this to expand the content */
}



.section button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px; /* Space between title and button */
}

.photo {
  flex: 0 0 auto; /* Adjust as needed */
}

.photo img {
  max-width: 100%;
  margin-top: 10px;
  height: auto;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-left: 10px; /* Space between title and button */
}

.button img {
  display:flex;
  width: 10px; /* Reduced width */
  height: 10px; /* Reduced height */
}
.section .button img {
  width: 60%;
  height: 80%;
  

}





@media screen and (max-width: 768px) {
  .section h2, .section p, .button img {
    font-size: slightly larger;
    margin: auto;
  }

  .photo, .textSections {
    width: 100%; /* Full width for smaller screens */
    margin: 0;
  }

  .titleContainer {
    flex-direction:initial;
    align-items: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .section h2, .section p {
    font-size: even smaller; /* Further reduce font size */

  }

  .button img {
    width: 30px; /* Smaller buttons */
    height: 30px;
  }

  /* Additional adjustments for small screens */
}

.reminder {
  background: url("src/Assets/Images/Blue-Pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.reminder1 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.reminder2 {
  margin: 0 auto;
  padding-bottom: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 800px;
  text-align: justify;
}

.research-tools {
  margin: 0 auto;
  width: 100%;
  max-width: 1216px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Adjustments for tablet screens */
@media screen and (max-width: 820px) {
  .reminder1, .reminder2 {
    font-size: 24px;
  }
}

/* Adjustments for mobile screens */
@media screen and (max-width: 425px) {
  .reminder1 {
    font-size: 24px;
  }

  .reminder2 {
    font-size: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .textSections, .photo {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .titleContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    margin: 10px 0; /* Add space above the button */
  }

  .section h2 {
    font-size: 24px; /* Even smaller font size for phone screens */
  }

  .section p {
    font-size: 25px; /* Smaller font size for readability on phones */
  }

  .button img {
    width: 30px; /* Even smaller button size */
    height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .section h2, .section p {
    font-size: larger; /* Further increase font size for small screens */
  }
  /* ... other styles ... */
}





.slide-in {
  opacity: 0;
  transform: translateX(50px); /* Smaller translation for smoother effect */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Shorter duration */
}

.active.slide-in {
  opacity: 1;
  transform: translateX(0);
}