
.page-holder{
    margin:0 auto;
    width: 90%;
    max-width: 1006px;
}

.board-text-tab{
    background-color:#f6f8f7;

    
}
.team-directors-header{
    padding-top: 70px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
     color:#07235B;


}

.team-directors-tab{
   color: #858EAD;
    margin-top:20px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

}
.board-image{
    width: 342px;
    height: auto;
}
.board-directors-tab{
    display: flex;
    gap:20px;
    /* justify-content: center; */
    /* align-items: center; */
}
