/* Global settings and typography */


.clinic {
  max-width: 1200px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  margin-top: -50px;
  overflow: hidden;
}


.Clinic {
    opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
 .Clinic.slide-in3 {
  opacity: 1;
  transform: translateX(0);
} 

.clinical-therapies h1,
.clinical-therapies p,
.trametinib span,
.selumetinib span {
  margin: 15px 0;
}

/* Headings and Paragraphs */

.clinic1 {
  color: #07235b;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.clinic2 {
  color: var(--sn-primary-headings-07235-b, #07235b);
  font-size: 24px;
  margin-bottom: 30px;
  text-align: left;
}

.selumetinib-span,
.trametinib-span {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.selumetinib-p,
.trametinib-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  color: #858ead;
}

/* Image */

.selumitinib-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

/* Flex Layout for Type 1 Section */

.type-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.selumetinib,
.trametinib {
  flex-basis: 48%;
}

/* Scroll animation */
/* Responsive design */

@media (max-width: 768px) {
  .type-1 {
    flex-direction: column;
  }

  .selumetinib,
  .trametinib {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
