.main-content-section,
.disc-content-section {
  display: grid;
  gap: 2.5rem;
}

.disc-title-section {
  padding-block: 3rem 2rem;
  color: #07235b;
}

.main-content-section {
  gap: 1.5rem;
}

.disc-content-section {
  gap: 1rem;
}

.disclaimer-container {
  margin: 4rem 6.5rem 0;
}

.disc-top-section {
  text-align: center;
  position: relative;
}
.MuiPaper-root {
  height: auto;
}
.disc-footer {
  padding-block: 3rem 6rem;
}

.disc-footer button {
  width: 100%;
}

.main-content-section h1,
.main-content-section p {
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.main-content-section p {
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .main-content-section {
    border-radius: 0.625rem;
    border: 2px solid var(--Neutral-100, #d9d9d9);
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem 2.4rem;
  }

  .disc-title-section {
    padding-block: 2rem 1.1rem;
  }

  .disclaimer-container {
    margin: 2rem 4rem 0;
  }
  .disc-footer {
    float: right;
    width: fit-content;
    padding-block: 2rem 3rem;
  }
  .disc-footer button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .disclaimer-container {
    margin: 2rem 0 0;
  }

  .main-content-section {
    padding: 1rem;
  }
  .disc-footer {
    margin: 0 auto;
    float: none;
    width: 100%;
    padding-block: 2rem 3rem;
  }
  .disc-title-section {
    padding-block: 1.5rem 1rem;
  }
}
