.benefit-container-inner {
  width: 100%;
  overflow-y: hidden;
}

.benefit-heading {
  width: 95%;
  text-align: center;
  padding: 2rem 0;
  /* font-size: 1.875rem; <-- Removed */
  /* font-weight: 400; <-- Removed */
  /* line-height: 110%; <-- Removed */
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .benefit-container-inner {
    width: 80%;
    max-width: 590px;
    margin: auto;
    display: flex;
    margin-top: 3.2rem;
    flex-direction: column;
    /* gap: 2rem; */
  }

  .benefit-heading {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .benefit-container-inner {
    max-width: 1216px;
    margin: 5rem auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .benefit-heading {
    display: none;
  }
}






@media only screen and (max-width: 480px){

  .benefit-heading {
    margin-top: 1rem;
    /* font-size potentially removed if conflicting */
  }
}