/* mobile view */
.team-container {
  background: #f0f7fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.team-heading-h2 {
  width: 95%;
  padding-bottom: 1rem;
  color: #07235b;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.team-heading-h3.desktop {
  display: none;
}

.team-bottom-block {
  width: 100%;
}

.team-video {
  width: 100%;
  display: block;
}

.team-join-description {
  font-size: 1rem;
  line-height: 143%;
  max-width: 313px;
  text-align: center;
}

.team-join-card {
  width: 100%;
  background: #fff;
  color: #07235b;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 2px solid #07235b;
}

.team-join-card-inner {
  border: 2px solid #07235b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 1.5rem;
}

.team-join-slogan {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}

.team-join-btn {
  padding: 1rem 1.5rem;
  border: 2px solid #07235b;
  border-radius: 1rem;
  cursor: pointer;
}
/*tablet view */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .team-join-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-join-card-inner {
    max-width: 390px;
    padding: 3rem 2rem;
  }

  .team-join-heading {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 110%;
  }

  .team-join-slogan {
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
  }
  .team-heading-h2 span {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
  }
  .team-heading-h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
  }

  .team-join-slogan {
    font-weight: 400;
    line-height: 143%;
    font-size: 1.5rem;
  }

  .team-join-btn {
    padding: 0.5rem 5rem;
    font-weight: 400;
    line-height: 143%;
    font-size: 1.5rem;
  }

  .team-join-description {
    width: 80%;
    max-width: 697px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
    padding-bottom: 3rem;
  }
}
/* desktop view*/
@media only screen and (min-width: 1024px) {
  .team-container {
    padding: 5rem 0;
    background-color: #ffffff;
  }

  .team-heading-h2,
  .team-heading-h3 {
    width: 90%;
    max-width: 1216px;
  }

  .team-heading-h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
  }

  .team-heading-h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
    padding-bottom: 3rem;
  }

  .team-heading-h3.desktop {
    display: block;
    color: #07235b;
  }

  .team-bottom-block {
    width: 90%;
    max-width: 1216px;
    position: relative;
  }

  .team-video-card {
    position: relative;
  }

  .team-video {
    width: 80%;
  }

  .team-join-card {
    max-width: 412px;
    padding: 2rem 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .team-join-description {
    display: none;
  }

  .team-join-card-inner {
    border-radius: 6px;
    padding: 1rem 1.5rem 2rem;
  }

  .team-join-heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 110%;
    text-align: center;
  }

  /* update line-height to 143% */
  .team-join-slogan {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
    text-align: left;
    padding-bottom: 1rem;
  }

  .team-join-btn {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .team-join-card-inner {
    width: 90%;
  }
}
