/* EqualOpportunityPolicy.module.css */
.modal {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    width: 700px;
    /* height: 922px; */
    color: #07235b;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    z-index: 99;
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
/* styles.css */
  .modal > h1 +  h2 + h3 + p {
    font-family: "Roboto";
  }
  .closeIcon {
    display: flex;
    flex-direction: row;
    color: #a3aac2;
    margin-left: 96%;
    padding-top: 5px;
    font-size: 25px;
    cursor: pointer;
}
/* logo */
.logo{
  width: 100px;
  background-color: brown;
}
.jctHolder{
  
}
/*  test background shadow*/

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header > image{
    width: 164px;
    height: 87px;
  }
  .logo {
    width: 164px;
    height: 87px;
  }
  .foundationName {
    /* Your header styling here */
    margin-block: 28px;
  }
  
  .subheader {
    /* Your subheader styling here */
    margin-block: 0 12px;
  }
  .foundationName + .subheader {
    font-size: 2.25rem;
  }
    .date {
    /* Your date styling here */
    color: #000000;
    font-size: 1.5rem;
    margin-block-start: 0;
  }
  .mainParagraph{
    font-size: 1rem;
    font-weight: 400px;
  }
  .mainParagraph > p:nth-child(2){
    margin-block-end: 0
  }
  .sectionsContainer{
    margin-block: 28px;
  }
  .section {
    /* Your section styling */
    /* width: 500px; */
    /* margin-block-end: 24px; */
    width: 100%;
    margin-block: 10px
  }
  /* .section:nth-child(1) {
    margin-block-start: 60px
  } */
  .section:nth-last-child(section) {
    margin-block-end: 20px
  }
  .sectionTitleContainer{
    display: flex;
    align-items: flex-start;
  }
  .sectionTitle {
    /* Your section title styling */
    display: inline;
    font-weight: 700;
    font-size: 1rem;
    margin-block: 0  11px;
    /* margin-block-start: 400px; */
  }
  
  .toggleButton {
    /* Your toggle button styling */
    /* background-color: #0d99ff; */
    /* border-radius: 100%; */
    /* width: 17px;
    height: 20px; */
    padding: 1px;
    border: none;
    margin-left: 10px;
    background-color: #fff;
    border: none;
    margin-block-start: 2px;
  }
  .toggleButton:focus {
    outline: none;
  }

  
  .toggleButton img {
    /* Style for your plus and minus images */
    width: 17px;
    height: 20px;
    object-fit: cover;
  }
  .sectionContent{
    margin-block-start: 0;
  }
  .sectionContent:nth-child(1){
    /* Your section content styling */
    /* display: none; */
    width: 100%;
    height: 20px;
    padding-block-end: 5px;
  }
  
  .sectionContent:nth-child(2) {
    padding-block-end: 5px;
  }
  .sectionContent:nth-child(3) {
    padding-block-end: 5px;
  }
  .sectionContent:nth-child(4) {
    padding-block-end: 5px;
  }
  .sectionContent:nth-child(5) {
    padding-block-end: 5px;
  }
  .sectionContent:nth-child(6) {
    padding-block-end: 5px;
  }
  .sectionContent:nth-child(7) {
    padding-block-end: 5px;
  }

  .closeButton {
    /* Your close button styling */
    width: 100%;
    height: 41px;
    border-radius: 8px;
    padding: 16px 20px;
    background-color: #0d99ff;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    margin: auto 0;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .modal {
      width: 619px; /* Width for tablet */
      height: 820px; /* Height for tablet */
      /* Adjust font sizes, paddings, and margins if necessary */
    }
  }
  
  /* For phones */
  @media (max-width: 480px) {
    .modal {
      width: 345px; /* Width for phone */
      height: 1026px; /* Height for phone */
      /* Adjust font sizes, paddings, and margins if necessary */
    }
  }