
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #9eef9f;
  }
  .containerModalOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000000b3;
  }
  
  .title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  
  .button {
    padding: 10px 20px;
    margin-block-end: 10px;
  }
  .jctHolder {
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100%;
    z-index: 999;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }
  