.servicesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.servicesIcon {
  width: 72px;
  height: 72px;
  padding: 1rem;
  background: #c33418;
  border-radius: 50%;
}

.servicesHover {
  border: 1px solid #e0e3eb;
  border-radius: 1rem;
  background: #f0f7fd;
  gap: 2rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.servicesHover a {
  color: #062758;
  font-weight: 700;
}

.servicesCardHeading {
  text-align: center;
}

.servicesCardContent {
  color: #858ead;
  transition: color 0.5s ease-in-out;
}

.servicesHover:hover {
  background: #062758;
  color: #fff;
}

.servicesHover:hover .servicesCardHeading {
  color: #fff;
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .servicesCard {
    max-width: 390px;
  }

  .servicesHover {
    padding: 2rem;
  }

  .servicesCardHeading {
    color: rgba(7, 35, 91, 1);
  }
}

@media only screen and (min-width: 1024px) {
  .servicesCard {
    flex-grow: 1;
    flex-basis: 0;
  }

  .servicesIcon {
    width: 60px;
    height: 60px;
  }

  .servicesHover {
    flex-grow: 1;
    grid-template-rows: 0.8fr 2fr 0.5fr;
  }
}

@media screen and (max-width: 480px) {
  .servicesHover {
    padding: 2rem;
    gap: 1rem;
  }
}
