
.container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
}

.Hero-page-tab{
    
    /* background-color:#eff0f7; */
    background-color:#f6f8f7;
    
    

}
.Hero-Header{
    margin-top: 10px;
   
}

  
.Teamss-image-tab{
    position: relative;
    height:520px; 
    margin: 0 auto;
    width: 100% !important;
    max-width: 1216px;
    /* object-fit:cover; */
    /* object-position:40% 40%; */
}
.Hero-btn{
    position: absolute;
    top:260px;
    left:1040px;
    width: 233px;
    height: 100px;
    border-radius: 15px;
    background-color: #07235B;


}
.Hero-text{
    font-family: Roboto;
   font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

}
.Hero-sub-text{
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
color:#0386D0;

}

.text-tab-tab{
    display: flex;
    justify-content: center;
    gap:430px;
    padding-top: -50px;
} 
/* .text-tab-image{
    position: absolute;
    top:-300px;
    left:180px;
    width: 254px;
   
} */
.tab-holder-tab{
    position: relative;
}
.text-team{
    margin-left: 45px;
    padding: 18px;
   font-family: Roboto;
   font-size: 30px;
   font-weight: 600;
   line-height: 40px;
   letter-spacing: 0em;
   text-align: center;
   width:850px;
   color:#07235B;
   /* transform: translateX(50%);
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;  */


}
.team-highlight-tab{
    margin-top: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center; 

}
.team-highlight-tab h3{
    width: 1006px;
    height: 306px;
    margin-top: 10px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 400;
   line-height: 34px;
   letter-spacing: 0em;
   text-align: justify;
   color:#07235B;
   /* transform: translateX(50%);
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;  */
   
}
.text-team.slide-in,
.team-highlight.slide-in{
    opacity: 1;
    transform: translateX(0);
}



    @media only screen and (max-width:820px){

    
.Hero-Header{
    margin-top: 10px;
    
}

/* .text-tab-image{
    position: absolute;
    top:325px;
    left:80px;
    width: 284px;
   
} */
.text-tab-image {
    position: absolute;
    height:308px;
    top: -74px;
    left: 35px;
    width: 304px;
}
.Teamss-image-tab{
        position: static;
        width: 90%;
        height: 200px;
        object-fit:cover;
        object-position:80% 50%;
        border-radius: 10px;
        align-items: center; 
        margin-left: 0px;
}

.text-tab-tab{
    display: flex;
    justify-content: center;
    gap:130px;

} 

.text-team{
    margin-left: 0px;
    padding: 10px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: center;
   width:368px;
   color:#07235B;
   padding-bottom: 25px;


}

.team-highlight-tab h3{
    width: 100%;
    height: 100%;
    margin-top: -90px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 400;
   line-height: 34px;
   letter-spacing: 0em;
   text-align: justify;
   color:#07235B;
    padding: 25px; 
}
.Hero-btn
    {
        position: absolute;
        top:255px;
        left:530px;
    }
   

}






/*mobile screen  */
@media only screen and (max-width:414px){

    .Teamss-image-tab {
    
        height: auto ;
       
    }
    
    .text-tab-tab{
        display: flex;
        flex-direction: column;
        
    
    } 
    .Hero-btn{
        position: absolute;
        top:137px;
        left:270px;
        width: 100px;
        height: 50px;
       
    }
    .Hero-text{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;

    }
    .Hero-sub-text{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color:#0386D0;

    }
    .btn-header{
        width:180px;
    }
    .text-tab-tab{
        gap:10px;
        width: 100%;
    }
    
    /* .text-tab-image{
        position:static;
        width:100%;
    } */
    
    
    .text-team{
       margin:auto;
       padding: 20px;
       font-family: Roboto;
       font-size: 20px;
       font-weight: 400;
       line-height: 34px;
       letter-spacing: 0em;
       width:100%;
       color:#07235B;
    
    }
    .team-highlight-tab {
        margin:0px;
    }
    
    .team-highlight-tab  h3{
        font-size:20px;
        margin-top:10px;
    }
    .text-tab-image {
        position: static;
        width: 90%;
        height: 290px;
        object-fit:cover;
        object-position:40% 40%;
        border-radius: 10px;
        align-items: center; 
        margin-left: 20px;
    }
}