
.container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
}

.Hero-page-tab{
    
    /* background-color:#eff0f7; */
    background-color:#f6f8f7;
    
    

}
.Hero-Header{
    margin-top: 10px;
    background: #f0f7fd url("src/Assets/Images/teamwork.png")no-repeat;
    background-size: cover;
    position:relative;
    height:389px;
    display: flex;
    padding: 120px;
    justify-content: end;
    align-items: end;
    margin-bottom: 25px;
}
.Hero-btn{
width: 233px;
height: 96px;
border-radius: 15px;
background-color: #07235B;


}
.Hero-text{
    font-family: Roboto;
   font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

}
.Hero-sub-text{
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
color:#0386D0;

}
.text-tab-tab{
    display: flex;
    justify-content: center;
    gap:430px;

} 
.text-tab-image{
    position: absolute;
    top:-170px;
    left:196px;
    width: 384px;
   
}
.tab-holder-tab{
    position: relative;
}
.text-team{
    margin-left: 490px;
    padding: 20px;
   font-family: Roboto;
   font-size: 36px;
   font-weight: 600;
   line-height: 40px;
   letter-spacing: 0em;
   text-align: left;
   width:797px;
   color:#07235B;


}
.team-highlight-tab{
    margin-top: 190px;
    display: flex; 
    justify-content: center; 
    align-items: center; 

}
.team-highlight-tab h3{
    width: 1006px;
    height: 306px;
    margin-top: 10px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 400;
   line-height: 34px;
   letter-spacing: 0em;
   text-align: justify;
   color:#07235B;
   /* padding: 25px; */
}


@media only screen and (max-width:1024px){

    .text-tab-image{
        position: absolute;
        top:-140px;
        left:76px;
    
       
    }
    .Hero-btn
    {
        position: absolute;
        top:215px;
        left:820px;
        width: 233px;
        height: 96px;
        border-radius: 15px;
        background-color: #07235B;
        margin-left:-200px ;
        
        }

}

    @media only screen and (max-width:820px){

    
.Hero-Header{
    margin-top: 10px;
    background: #f0f7fd url("src/Assets/Images/teamwork.png")no-repeat;
    background-size: cover;
    position:relative;
    height:389px;
    display: flex;
    padding: 120px;
    justify-content: end;
    align-items: end;
    margin-bottom: 25px;
}

.text-tab-image{
    position: absolute;
    top:325px;
    left:80px;
    width: 284px;
   
}
.text-tab-image {
    position: absolute;
    height:408px;
    top: -134px;
    left: 15px;
    width: 384px;
}

.text-tab-tab{
    display: flex;
    justify-content: center;
    gap:130px;

} 

.text-team{
    margin-left: 390px;
    padding: 10px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
   width:368px;
   color:#07235B;


}
.team-highlight-tab h3{
    width: 100%;
    height: 100%;
    margin-top: 2px;
   font-family: Roboto;
   font-size: 24px;
   font-weight: 400;
   line-height: 34px;
   letter-spacing: 0em;
   text-align: justify;
   color:#07235B;
    padding: 25px; 
}
.Hero-btn
    {
        position: absolute;
        top:255px;
        left:720px;
    }

}






/*mobile screen  */
@media only screen and (max-width:414px){

    .Hero-Header{
        background: #f0f7fd url("src/Assets/Images/teamwork.png")no-repeat;
        background-size: contain;
        
        position:relative;
        height:10px;
        margin-bottom:-60px;
        justify-content: none;
        align-items: none;
    }

    .text-tab-tab{
        display: flex;
        flex-direction: column;
        
    
    } 
    .Hero-btn{
        position: absolute;
        top:77px;
        left:470px;
        width: 100px;
        height: 50px;
        /* margin-left: -20px; */
        border-radius: 15px;
        background-color: #07235B;
    }
    .Hero-text{
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;

    }
    .Hero-sub-text{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color:#0386D0;

    }
    .btn-header{
        width:180px;
    }
    .text-tab-tab{
        gap:10px;
        width: 100%;
    }
    
    .text-tab-image{
        position:static;
        width:100%;
    }
    
    
    .text-team{
       margin:auto;
       padding: 20px;
       font-family: Roboto;
       font-size: 20px;
       font-weight: 400;
       line-height: 34px;
       letter-spacing: 0em;
       text-align: left;
       width:100%;
       color:#07235B;
    
    
    }
    .team-highlight-tab {
        margin:0px;
    }
    
    .team-highlight-tab  h3{
        font-size:20px;
    }
    .text-tab-image {
        position: static;
        width: 100%;
        height: 290px;
    }
}