.partnershipImg {
  display: none;
}

.partnerHeadingBlock {
  width: 100%;
  margin-top: 5rem;
  max-width: 1216px;
  background-image: url("src/Assets/Images/partner-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.partnerHeading {
  color: #062758;
}

.partnerContentBlock {
  width: 100%;
  background-color: rgb(148, 249, 210);
}

.firstBlock {
  background-color: rgb(148, 249, 210);
}

.secondBlock {
  background-color: rgb(253, 189, 177);
}

.partnerContentBlock.tablet {
  display: none;
}

.partnerMobileImg {
  width: 100%;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInSection {
  animation: fadeIn 0.7s ease-in-out forwards;
  transform: translateX(100%);
}

.partnerHeadingBlock aside {
  max-width: 40%;
  padding: 5rem 0 5rem 9rem;
  opacity: 0;
}

.partnerHeading {
  color: #fff;
}

.partnerParagraph {
  color: #fff;
  width: 90vw;
}

/* Tablet view */
@media only screen and (min-width: 480px) {
  .partnerHeadingBlock aside {
    max-width: 100%;
  }
  .partnerContentBlock.mobile {
    display: none;
  }
  .partnerContentBlock.tablet {
    display: block;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {
  .partnerHeadingBlock {
    margin-bottom: 1rem;
  }
  .partnerParagraph {
    color: #fff;
    width: 100vw;
  }
  .partnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partnerContentBlock.mobile {
    display: none;
  }
  .partnerContentBlock {
    max-width: 1216px;
  }
  .partnerContentBlock.desktop {
    display: flex;
  }
  .partnerContentBlock.desktopReverse {
    flex-direction: row-reverse;
  }
  .partnershipImg {
    display: block;
  }
  .partnershipImg {
    width: 100%;
    height: 416px;
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .partnerHeadingBlock aside {
    padding: 3rem 1rem;
    text-align: center;
    max-width: 100%;
  }
}