.partner-text-card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  color: #ffffff;
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.partner-text-card.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.partner-text-heading {
  color: rgb(7, 35, 91);
}

.partner-text-subheading {
  color: rgb(0, 0, 0);
}

.partner-text {
  color: rgb(0, 0, 0);
  text-align: justify;
}

.partner-text-list {
  display: flex;
  gap: 1rem;
  color: rgb(0, 0, 0);
}

.partner-text-span {
  display: block;
}

.partner-link {
  margin-left: auto;
  width: fit-content;
  background-color: #07235b;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.partner-link:hover {
  background-color: #ffffff;
  color: #07235b;
  transition: background-color 0.5s ease-in-out;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .partner-text-card {
    padding: 2rem 4rem;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .partner-text-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .partner-link {
    margin: 2rem auto 2rem 0;
  }
  
.partner-text-subheading {
  color: rgb(0, 0, 0);
}
}
