:root{
    --light-gray-color:#f0f7fd;
    --gray-color:#f7f7f74d;
    --dark-blue-color:#07235b;
    --light-blue-colors:#0d99ff;
    --dark-red-color:#c33418;
    --secondary-color: #858ead;
}


.store-section-title{
    border-bottom: 1px solid var(--secondary-color);
    padding:1.5rem;
    padding-bottom: 0.5rem;
    display: block;
    width: 100%;
}
.store-text-center{
    text-align: center;
}
.store-section-title h2{
    font-size:2rem;
    color: var(--dark-blue-color);
}