.researchPage {
  display: grid;
  place-items: center;
  grid-template-columns: 15% 1fr 15%;
  gap: 3rem;
  overflow: hidden;
}

.researchPage > * {
  grid-column: 2;
}

@media screen and (max-width: 1024px) {
  .researchPage {
    grid-template-columns: 1rem 1fr 1rem;
    gap: 1.5rem;
  }
}
