.accordionSection {
  position: relative;
  cursor: pointer;
}

.accordionSection aside.greyCircle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.blueButtonExpanded {
  display: grid;
  gap: 1rem;
}

.accordionSection aside.blueCircle {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hiddenContent {
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 0;
}

.show {
  max-height: 2000px;
  transition: all 0.3s ease;
}

.hiddenContent {
  display: grid;
  gap: 1rem;
}

div.applyPadding,
header.applyPadding {
  padding-bottom: 1rem;
}

.hiddenContent > section {
  transition: padding-bottom 0.3s ease;
}

.show > section {
  padding-bottom: 1rem;
}

.applyHidden {
  display: none;
}

.accordionSection div section {
  text-align: justify;
}
.accordionSection div section.show {
  padding-bottom: 1rem;
}

.applyGap {
  display: grid;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.accordionSection aside.greyCircle,
.accordionSection aside.blueCircle {
  display: none;
}

.accordionSection header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .applyGap {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .accordionSection aside.greyCircle,
  .accordionSection aside.blueCircle {
    display: inline-block;
  }

  .greyCircleDesktop,
  .blueCircleDesktop {
    display: none;
  }
}
