.filter-panel {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 10px;
  background-color: #07235B;
  margin-top: 20px;
}

.filter-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
}


.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px; 
  color: #07235B;
  background-color: white;
  font-weight: 400;
  position: relative;
  min-width: 180px; 
  text-align: left; 
}

/* Style for the FontAwesome icons */

.filter-button .icon-chevron-down {
  margin-left: auto; 
  font-size: 0.8em; 
}


.icon-chevron-down {
  margin-left: auto;
  font-size: 0.8em; 
  margin-left: 5px;
}

.filter-label, .results-found {
  margin: 0;
}

.filter-label {
  font-weight: bold;
}

.results-found {
  white-space: nowrap; 
}







@media screen and (max-width: 768px) {
  .filter-panel {
    padding: 8px;

  }

  .filter-buttons {
    flex-direction: column;
    gap: 8px;
  }

  .filter-button {
    padding: 12px 16px;
    font-size: 14px;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .filter-panel {
    padding: 5px;
    margin: 0px auto; 

  }

  .filter-buttons {
    gap: 5px;
  }

  .filter-button {
    padding: 10px 12px;
    font-size: 12px;
  }
}