.filter-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.filter-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  margin-bottom: 10px;
}


.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.filter-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px; 
  color: #07235B;
  background-color: white;
  font-weight: 400;
  position: relative;
  min-width: 180px; 
  text-align: left; 
}

/* Style for the FontAwesome icons */

.filter-button .icon-chevron-down {
  margin-left: auto; 
  font-size: 0.8em; 
}


.icon-chevron-down {
  margin-left: auto;
  font-size: 0.8em; 
  margin-left: 5px;
}

.filter-label, .results-found {
  margin: 0;
}

.filter-label {
  font-weight: bold;
}

.results-found {
  white-space: nowrap; 
}
