.statementContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  grid-column: 2;
  justify-items: center;
}

.statementContainer section {
  text-align: center;
  max-width: 381px;
}

.statementContainer section:nth-child(1),
.statementContainer section:nth-child(3) {
  margin-top: 6rem;
}

.statementContainer section img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}

.statementContainer section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: justify;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
  padding: 1rem;
}

.statementContainer section article aside h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.statementContainer section article > p {
  padding: 1rem;
}

.statementContainer section article aside > p,
.statementContainer section article > p,
.statementContainer section article aside h2 {
  color: #07235b;
}

.statementContainer section article aside.blueParagraph {
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.statementContainer section article p.blueParagraph {
  color: #fff;
  border-radius: 1rem;
}

.statementContainer section article p.blueParagraph,
.statementContainer section article aside.blueParagraph {
  background-color: #07235b;
}

.statementContainer section article p.blueParagraph,
.statementContainer section article aside.blueParagraph h2,
.statementContainer section article aside.blueParagraph p {
  color: #fff;
}

.hoverEffect {
  padding: 1rem;
}

aside.hoverEffect:hover,
aside.hoverEffect:hover h2,
aside.hoverEffect:hover p,
.statementContainer section article p:hover {
  background-color: #07235b;
  color: #fff;
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .statementContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .statementContainer section {
    max-width: 100%;
  }

  .statementContainer section:nth-child(1),
  .statementContainer section:nth-child(3) {
    margin-top: 0;
  }

  .statementContainer section img {
    max-height: 349px;
    object-fit: cover;
    object-position: center top;
  }

  .statementContainer section article {
    gap: 1rem;
  }

  .statementContainer section article p,
  .statementContainer section article aside p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .statementContainer section article p,
  .statementContainer section article aside p {
    font-size: 18px;
  }
}
