.signup-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f0f7fd;
    padding: 3rem 10rem;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    gap: 9rem;
}

.enroll-content1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:3rem;

}

.enroll-content2 {
    text-align: center;
  padding: 0 0 0 10rem;

}

.signup-heading {
    font-size: 3rem;
}