.signup-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f0f7fd;
    padding: 3rem 10rem;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    gap: 9rem;
    margin-bottom: 10rem;
}

.enroll-content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    min-width: 40%;
    font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 1.375rem */

}

.enroll-content2 {
    padding: 0 0 0 7rem;
    text-align: center;
    font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 1.375rem */
}

.signup-heading {
    color: #07235B;
    font-family: Roboto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */
}