.signup-container {
  background-color: #fff;
  font-size: 1.2rem;
  padding: 1.5rem;
  margin-top: 1.3rem;
}

.enroll-content2 {
  display: grid;
  gap: 1rem;
  text-align: justify;
}

.enroll-content1 button.nf-btn {
  margin-block: 1.44rem;
}

.enroll-content1 h1 {
  color: #07235b;
}

@media screen and (max-width: 768px) {
  .enroll-content2 p {
    font-size: 1rem;
  }
  .understanding-nf-container .signup-container {
    margin: 0;
    grid-column: 1/-1;
  }
  .enroll-content1 button.nf-btn {
    padding: 0.375rem 0.75rem;
    width: fit-content;
  }
}

@media screen and (max-width: 479px) {
  .enroll-content1 h1 {
    font-size: 1rem;
  }
  .signup-container {
    padding: 1rem;
  }
}
