/* mobile view */
.community-container {
  background: #07235b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  padding: 2.5rem 0;
}

.community-heading {
  width: 95%;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.community-description {
  width: 95%;
  text-align: center;
  color: #dde8f0;
  padding-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 143%;
}

.community-teams {
  width: 95%;
  background-color: #f0f7fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.community-team-btn {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #07235b;
  background: #ffffff;
}

.coming-soon-p {
  color: #b2bbc3;
}

.community-team-btn.focus {
  background-color: #07235b;
  color: #ffffff;
}

.disease-green {
  background-color: rgb(201, 255, 234);
}

.disease-purple {
  background-color: rgb(197, 208, 254);
}

.disease-yellow {
  background-color: rgb(253, 253, 186);
}

.community-container aside {
  display: flex;

  gap: 3rem;
}

.new-disease-card {
  text-align: center;
  padding: 3rem;
  color: #07235b;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.new-disease-card h1.large-disease-title {
  font-size: 6rem;
}

.new-disease-card h1 {
  font-size: 3rem;
  font-family: Rampart One;
  font-weight: 400;
  position: relative;
}

.disease-before-content {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.new-disease-card h1 p,
.disease-before-content,
.new-disease-card button a,
.new-disease-card button {
  font-size: 1.5rem;
}

.new-disease-card button {
  background-color: #07235b;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  object-fit: contain;
  min-width: 11rem;
  padding: 0.5rem;
  margin-top: auto;
  cursor: pointer;
}

.new-disease-card button a,
.new-disease-card button {
  color: #fff;
}

.disease-before-content,
.new-disease-card h1 p,
.new-disease-card button a,
.new-disease-card button {
  font-family: Rancho;
}

/* tablet view */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .community-container aside {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .new-disease-card {
    padding: 3rem 6rem 2rem;
  }

  .community-container {
    padding: 2rem;
    padding-bottom: 0;
  }

  .new-disease-card:not(:first-child) button {
    margin-top: 0.5rem;
  }

  .disease-before-content {
    left: -4rem;
  }

  .community-heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
  }
  .community-description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
  }

  .community-teams {
    max-width: 390px;
  }

  .community-team-btn {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
  }

  .coming-soon-p {
    font-size: 1rem;
    line-height: 120%;
    font-weight: 400;
  }
}
/* desktop view */
@media only screen and (min-width: 1024px) {
  .community-container {
    padding: 5rem 0;
  }

  .community-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
  }
  .community-teams-text h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }
  .community-teams-text h4 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }

  /* update line-height to 143px */
  .community-description {
    width: 70%;
    max-width: 1004px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
  }

  .community-teams {
    width: 90%;
    max-width: 1216px;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
  }

  .community-team-btn {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .community-container aside {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .community-container {
    padding-bottom: 0;
  }

  .new-disease-card:not(:first-child) button {
    margin-top: 0.5rem;
  }

  .new-disease-card {
    padding: 3rem 4rem 2rem;
  }

  .new-disease-card h1 p,
  .disease-before-content,
  .new-disease-card button a,
  .new-disease-card button {
    font-size: 1.2rem;
  }

  .new-disease-card h1.large-disease-title {
    font-size: 4rem;
  }

  .new-disease-card h1 {
    font-size: 2rem;
  }
}
