.segas {
  background: url("src/Assets/Images/Research background.png"),
    lightgray 50% / cover no-repeat;
  background-position: center;
  width: 1241px;
  height: 500px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  padding-left: 50px;
  margin-top: 1px;
  position: relative;
}
.segas-p {
  width: 1138.162px;
  flex-shrink: 0;
  color: var(--sn-primary-headings-07235-b, #07235b);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  padding: 0;
  position: relative;
}
.segas1 {
  width: 1164.822px;
  height: 60.563px;
  flex-shrink: 0;
  color: var(--sn-black, #000);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.peginter {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 10px;
}
.segas {
  margin-left: 20px;
  margin-right: 101px;
  margin-bottom: 100px;
  margin-top: 1px;
  width: 1190px;
  height: 500px;
  flex-shrink: 0;
}
.peginter-p {
  color: var(--sn-primary-headings-07235-b, #07235b);
  width: 1150px;
  height: 492px;
  flex-shrink: 0;
  flex-shrink: 0;
  font-size: 20px;
  line-height: 1.5;
  margin-left: 100px;
  margin-right: 104px;
  padding-left: 70px;
  margin: 0;
  padding: 0;
}
.peginter-span {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}
/*[data-aos="slide-left"] {
  transform: translateX(100%);
}

[data-aos="slide-left"].aos-animate {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.8s ease;
}*/
.conclusion {
  background: url("src/Assets/Images/Blue-Pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1100px;
  height: 300px;
  margin-left: 80px;
  margin-right: 157px;
  margin-top: 150px;
  margin-bottom: 130px;
}
.conclusion1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 143%;
}
.conclusion2 {
  margin-left: 30px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 820px) {
  .segas {
    width: 685px;
    height: 650px;
    flex-shrink: 0;
    margin-left: 23px;
    margin-right: 24px;
    margin-bottom: 91px;
  }
  .segas1 {
    width: 640px;
    flex-shrink: 0;
    color: var(--sn-black, #000);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    padding-left: 90px;
  }
  .segas-p {
    width: 640px;
    flex-shrink: 0;
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    padding-right: 40px;
  }
  .peginter {
    margin: 0px;
    padding: 0px;
  }
  .peginter-p {
    width: 700px;
    height: 531px;
    flex-shrink: 0;
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin-left: 16px;
  }
  .peginter-span {
    width: 720px;
    height: 531px;
    flex-shrink: 0;
    color: var(--sn-black, #000);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin-left: 16px;
  }
  .conclusion {
    width: 700px;
    height: 320px;
    flex-shrink: 0;
    display: block;
    margin-left: 16px;
    margin-bottom: 5px;
    padding-left: 70px;
    margin-top: 250px;
  }
  .conclusion1 {
    width: 127px;
    height: 28px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin-left: 200px;
    margin-bottom: 50px;
  }
  .conclusion2 {
    width: 672px;
    height: 206px;
    flex-shrink: 0;
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin-left: 16px;
    padding-right: 120px;
  }
}
@media (max-width: 425px) {
  .segas {
    width: 380px;
    height: 740px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    padding-bottom: 20px;
  }
  .segas1 {
    width: 343px;
    height: 32px;
    flex-shrink: 0;
    color: var(--sn-black, #000);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding-top: 1px;
    padding-left: 1px;
    margin-right: 50px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 20px;
  }
  .segas-p {
    width: 343px;
    flex-shrink: 0;
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }
  .peginter {
    margin-bottom: 400px;
    width: 343px;
    height: 773px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    margin-left: 16px;
  }
  .peginter-span {
    width: 343px;
    flex-shrink: 0;
    color: var(--sn-black, #000);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    padding: 0;
  }
  .peginter-p {
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 343px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
  }
  .conclusion {
    width: 340px;
    height: 370px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-top: 300px;
    margin-bottom: 50px;
  }
  .conclusion1 {
    width: 267px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }
  .conclusion2 {
    width: 267px;
    flex-shrink: 0;
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    padding: 0;
    margin: 0;
    margin-left: 40px;
  }
}
