.tools {
  flex-shrink: 0;
  color: var(--sn-primary-headings-07235-b, #07235b);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  margin-top: 200px;
  margin-bottom: 51px;
  margin-left: 40px;
  margin-right: 100px;
}
.tool {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 1216px;
=======
  width: 1150px;
>>>>>>> e05d4fd (update on research)
=======
  width: 1216px;
>>>>>>> 16586ad (update)
  color: #07235b;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
<<<<<<< HEAD
  margin-left: 50px;
  text-align: center;
}
.tool-p {
  margin-left: 50px;
  width: 1216px;
=======
}
.tool-p {
<<<<<<< HEAD
  margin-left: 7px;
  width: 1150px;
>>>>>>> e05d4fd (update on research)
=======
  margin-left: 50px;
  width: 1216px;
>>>>>>> 16586ad (update)
  height: 88px;
  flex-shrink: 0;
  color: var(--sn-primary-headings-07235-b, #07235b);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.notes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
<<<<<<< HEAD
  margin-top: 50px;
=======
>>>>>>> e05d4fd (update on research)
}
.note-p {
  color: #858ead;
  width: 625px;
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-right: 50px;
  padding-bottom: 1px;
}
.notes-img {
  width: 536px;
  height: 346.063px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  margin-right: 30px;
<<<<<<< HEAD
  margin-top: 10px;
=======
>>>>>>> e05d4fd (update on research)
}
.note-span {
  color: black;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}
.reminder {
  background: url("src/Assets/Images/Blue-Pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
<<<<<<< HEAD
  height: 240px;
=======
  height: 300px;
>>>>>>> e05d4fd (update on research)
  margin: 0;
  padding: 0;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 1px;
  padding-top: 1px;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
  margin-bottom: 120px;
>>>>>>> e05d4fd (update on research)
}
.reminder1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 143%;
}
.reminder2 {
  margin-left: 50px;
  padding-bottom: 69px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 820px) {
  .tools {
    padding: 0;
    margin: 0;
    margin-left: 16px;
  }
  .tool {
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin-top: 150px;
    width: 750px;
    height: 127px;
    flex-shrink: 0;
  }
  .tool-p {
    margin-top: 10px;
    margin-left: 1px;
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    width: 750px;
    height: 120px;
    flex-shrink: 0;
  }
  .notes {
    display: block;
  }
  .notes-img {
    width: 444px;
    height: 320px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: 38px;
    margin-right: 182px;
    margin-bottom: 52px;
  }
  .note-p {
    width: 750px;
    flex-shrink: 0;
    color: var(--sn-body-text-grey-858-ead, #858ead);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin-left: 16px;
  }
  .note-span {
    font-size: 20px;
  }
  .reminder {
    width: 700px;
    flex-shrink: 0;
    margin-right: 21px;
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 16px;
    margin-top: 10px;
  }
  .reminder1 {
    width: 604px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    margin-bottom: 5px;
    align-items: center;
    padding-left: 150px;
  }
  .reminder2 {
    width: 672px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    align-items: center;
    margin-left: 70px;
    padding-right: 70px;
  }
}
@media (max-width: 425px) {
  .tools {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-left: 16px;
  }
  .tool {
    width: 340px;
    flex-shrink: 0;
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 89px;
    margin-top: 330px;
    padding-left: 2px;
  }
  .tool-p {
    width: 340px;
    flex-shrink: 0;
    color: var(--sn-primary-headings-07235-b, #07235b);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-top: 15px;
    margin-left: 7px;
    margin-bottom: 100px;
  }
  .notes-img {
    width: 340px;
    height: 318px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    margin-top: 66px;
    margin-bottom: 50px;
    padding-left: 2px;
  }
  .note-p {
    width: 341px;
    flex-shrink: 0;
    color: var(--sn-body-text-grey-858-ead, #858ead);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 0px;
    padding: 0px;
    margin-left: 24px;
  }
  .note-span {
    font-size: 20px;
  }
  .reminder {
    width: 340px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 16px;
    padding-left: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
  }
  .reminder1 {
    width: 215px;
    height: 20.146px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
    padding-left: 30px;
  }
  .reminder2 {
    width: 267px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 0;
    padding: 0;
  }
}
