.components{
    display: flex;
}
.components p{
    width: 625px;
    height: 153px;
    flex-shrink: 0;
    color: var(--sn-primary-headings-07235-b, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 107px;
    margin-right: 97px;
}
[data-aos="slide-right"] {
    opacity: 0;
    transform: translateX(-100%);
  }
  
[data-aos="slide-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s, transform 1s;
}
.components img{
    width: 536px;
    height: 364px;
    flex-shrink: 0;
    padding-right: 100px;
    margin-bottom: 2px;
}
[data-aos='slide-left'] {
    transform: translateX(100%); 
}
  
[data-aos='slide-left'].aos-animate {
    transform: translateX(0%); 
    opacity: 1; 
    transition: transform 0.6s ease, opacity 0.8s ease; 
}

.participate{
    width: 1440px;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
}
.participate h1{
    width: 1240px;
    height: 51px;
    flex-shrink: 0;
    color: #07235B;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    margin: 0px;
    padding: 0px;
    padding-left: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.participating{
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    margin-bottom: 100px;
    margin-top: 80px;
}
.headspan{
    padding-left: 60px;
    font-size: 28px;
    font-weight: 500;
}
.participating p span{
    color: var(--sn-primary-headings-07235-b, #07235B);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.participating p{
    width: 1200px;
    flex-shrink: 0;
    font-family: Roboto;
    color: #858EAD;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
p span, .span2{
    color: black;
    font-weight:500;
    font-size: 24px;
    margin-bottom: 30px;
}
[data-aos='slide-left'] {
    transform: translateX(100%); 
}
  
[data-aos='slide-left'].aos-animate {
    transform: translateX(0%); 
    opacity: 1; 
    transition: transform 0.6s ease, opacity 0.8s ease; 
}
@media (max-width:768px){
    .participate{
        margin: 0px;
        padding: 0px;
        margin-left: 24px;
    }
    .participate h1{
        width: 720px;
        height: 84px;
        flex-shrink: 0;
        color: #07235B;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
        padding: 50px 0px;
        margin-left: 0px;
    }
    .components{
        display: block;
    }
    .components p{
        width: 680px;
        height: 172px;
        flex-shrink: 0;
        color: var(--sn-primary-headings-07235-b, #07235B);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; 
        padding: 0px 0px;
        margin-left: 24px;
        margin-bottom: 10px;  
        margin-top: 2px;
    }
    .components img{
        width: 444px;
        height: 320px;
        flex-shrink: 0; 
        margin: 50px 162px 0px;
    }
    .participating{
        margin: 0px;
        padding: 0px;
        padding-left: 1px;
        padding-top: 10px;
    }
    .participating .headspan{
        width: 700px;
        flex-shrink: 0;
        color: var(--sn-black, #000);
        font-family: Roboto;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; 
    }
    .participating p{
        color: var(--sn-body-text-grey-858-ead, #858EAD);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; 
        width: 660px;
        flex-shrink: 0; 
    }
    .participating p span{
        color: var(--sn-primary-headings-07235-b, #07235B);
        width: 720px; 
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%; 
    }
}
@media (max-width:414px){
    .participate{
        padding-left:20px;
        margin: 0px;
        padding: 0px;
        padding-left: 40px;
    }
    .participate h1{
        width: 343px;
        height: 112px;
        flex-shrink: 0;
        color: #07235B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
        margin: 0px;
        padding: 0px;
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 30px;
        
    }
    .components p{
        width: 341px;
        height: 178px;
        flex-shrink: 0;
        color: var(--sn-primary-headings-07235-b, #07235B);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        margin: 0px;
        padding: 0px;
    }
    .components img{
        width: 400px;
        height: 343px;
        flex-shrink: 0;
        margin: 79px 16px 81px;  
    }
    .participating{
        padding-left: 16px;
        padding: 0px;
        margin: 0px;
        padding-left: 30px;
    }
    .headspan{
        color: var(--sn-black, #000);
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; 
        width: 343px;
        flex-shrink: 0;  
        padding: 0px;
        margin: 0px;
    }
    .participating p{
        color: var(--sn-body-text-grey-858-ead, #858EAD);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; 
        width: 343px;
        flex-shrink: 0; 
        padding-left: 0px;
        margin-left: 0px;
    }
    .participating p span{
        color: var(--sn-primary-headings-07235-b, #07235B);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        width: 343px;
        height: 602px;
        flex-shrink: 0;   
    }
}