.understanding-nf-container {
  display: grid;
  padding-inline: 7rem;
  background-color: rgba(179, 179, 179, 0.7);
  padding-bottom: 3rem;
  padding-top: 3rem;
  place-items: center;
}

.full-width-background {
  background-color: var(--Shade-White, #fff);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1024px) {
  .understanding-nf-container {
    display: grid;
    gap: 1.38rem;
    padding-top: 1.4rem;
    padding-inline: 2rem;
  }

  
}
