.understanding-nf-container {
  display: grid;
  grid-template-columns: 7rem 1fr 7rem;
  background-color: rgba(179, 179, 179, 0.7);
  padding: 2rem 0;
}
.understanding-nf-container > * {
  grid-column: 2; /* Place each child in the middle column */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1024px) {
  .understanding-nf-container {
    display: grid;
    gap: 1.38rem;
    padding-top: 1.4rem;
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .understanding-nf-container {
    padding-inline: 1rem;
  }
}
