.understanding-nf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.38rem;
  padding-inline: 7rem;
  background-color: rgba(179, 179, 179, 0.7);
}
