.header-container {
  width: 100%; 
  background-color: #f0f7fd; 
  color: #07235b; 
  padding: 20px 0; 
  text-align: left; 
  margin: 0; 
}

.header-title {
  margin: 0; 
  font-size: 32px; 
  font-weight: 500; 
  line-height: 44px;
  padding: 10px 70px 10px;
  letter-spacing: 1px;
}
