.header-container {
  width: 100%;
  background-color: #07235b;
  color: white;
  padding: 5px 0;
  text-align: center;
  margin: 0;
  padding-top: 0px;
}

.header-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  padding: 10px 70px;
  letter-spacing: 1px;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .header-title {
    font-size: 28px;
    padding: 10px 50px;
    line-height: 38px;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .header-title {
    font-size: 24px;
    padding: 10px 20px;
    line-height: 32px;
  }
}
