:root {
  --light-gray-color: #f0f7fd;
  --gray-color: #f7f7f74d;
  --dark-blue-color: #07235b;
  --light-blue-colors: #0d99ff;
  --dark-red-color: #c33418;
  --secondary-color: #858ead;
}

article.store-landing-hotDeal {
  position: relative;
  background-color: var(--light-gray-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  /* scroll-snap-align: start; */
}
section.store-landing-hotDeal-container {
  width: 98%;
  max-width: 1216px;
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.store-landing-hotDeal-text {
  width: 100%;
  max-height: 400px;
  height: 400px;
  padding: 4rem;
}
div.store-landing-hotDeal-text h2 {
  font-size: 3rem;
  color: var(--dark-blue-color);
}
div.store-landing-hotDeal-text p {
  color: var(--secondary-color);
  text-shadow: 1px 1px 1px white;
}
div.store-landing-hotDeal-link-container {
  margin-top: 2rem;
}
.store-landing-hotDeal-link {
  user-select: none;
  color: var(--light-gray-color);
  padding: 1rem 2rem;
  background-color: var(--dark-blue-color);
  border-radius: 1rem;
  transition: all 0.3s;
}
.store-landing-hotDeal-link:hover {
  background-color: var(--light-blue-colors);
}
img.store-landing-hotDeal-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

@media (max-width: 600px) {
  div.store-landing-hotDeal-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.store-landing-hotDeal-container {
    flex-direction: column;
  }
}
