.personalInformation,
.surveyQuestions {
  display: grid;
  gap: 1rem;
}

.personalInformation {
  border-bottom: 0.13rem solid rgb(217, 217, 217);
  padding-bottom: 1rem;
}

.surveyQuestions {
  padding-block: 1rem;
}

.personalInformation h4,
.personalInformation p,
.surveyQuestions h4,
.surveyQuestions p {
  color: var(--primary-color);
}
