.providerBtnBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.providerBtn {
  width: 100%;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.providerBtn.search {
  background: #0D99FF;
}

.providerBtn.search:hover{
  background: transparent;
  color: #0d99FF;
  border: 2px solid #0d99ff;
}


.providerBtn.donate {
  background: #0d99ff;
}

@media only screen and (min-width: 480px) and (max-width: 1223px) {
  .providerBtnBlock {
    width: 100%;
    flex-direction: row;
  }

  
  .providerBtn {
    width: 70%;
  }
}

@media only screen and (min-width: 1224px) {
  .providerBtnBlock {
    flex-direction: row;
  }
  .providerBtn {
    width: auto;
    margin-left: 1rem;
  }
}


@media only screen and (max-width: 580px) {
  
  .providerBtn {
    width: 75%;
  }
}


@media only screen and (max-width: 520px) {
  
  .providerBtn {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  
  .providerBtn {
    width: 100%;
  }
}