.slideInText {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.slideInText.active {
  opacity: 1;
  transform: translateX(0);
}

.segasContainer {
  display: grid;
  gap: 3rem;
}

.sectionContainer,
.conclusionContainer,
.alfaContainer {
  display: grid;
  gap: 2rem;
  padding: 3rem 5rem;
  text-align: justify;
}

.alfaContainer {
  padding: 0;
  text-align: left;
}

.sectionContainer {
  background-image: url("src/Assets/Images/Research background.png");
}

.conclusionContainer {
  background-image: url("src/Assets/Images/Blue-Pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionContainer p,
.alfaContainer p {
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.sectionContainer a,
.alfaContainer a {
  color: rgba(133, 142, 173, 1);
}

.conclusionContainer {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .segasContainer {
    gap: 1.5rem;
  }

  .sectionContainer,
  .alfaContainer,
  .conclusionContainer {
    gap: 1rem;
  }

  .sectionContainer p,
  .alfaContainer p,
  .sectionContainer a,
  .alfaContainer a,
  .conclusionContainer p {
    font-size: 1rem;
  }
}




/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.confirmationModal {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.confirmationModal h3 {
  color: #00234b;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.confirmationModal p {
  color: #4b586a;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.confirmButton {
  background-color: #0095ff;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #0077cc;
}

.cancelButton {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #d0d0d0;
}

