.survey-form-user {
  padding: 1rem 0 2rem 0;
}

.patient-circle-letter {
  background: var(--SN-Hero-Light-Blue, #f0f7fd);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.8rem;
  display: grid;
  place-items: center;
}

.patient-circle-letter span {
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.patient-name {
  display: flex;
  align-items: center;
}

.patient-name > span {
  color: var(--Neutral-300, #8d8c8e);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

.patient-full-name {
  padding-right: 0.7rem;
}

.patient-status {
  position: relative;
}

.patient-status::before {
  content: ".";
  position: absolute;
  top: 25%; /* Vertically center */
  left: -0.5rem; /* Position to the left */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.survey-form-user-none {
  display: none;
}
