.survey-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
  background-color: #fff;
}

.survey-content p {
  padding: 1rem 0;
}

.survey-content h1 {
  color: #07235b;
}

.survey-img {
  width: 40%;
  border-radius: 3.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
