.selected-filters1 {
  width: 250px;
  height: 570px; 
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: -10px; 
  margin-left: 20px; 
  margin-top: 70px;
}

.filter-section1 h2,
.filter-section1 h3 {
  color: #07235B;
  font-size: 18px;
  margin-bottom: 15px; 
}

.filter-chip-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px; 
}

.filter-chip1 {
  width: 100%;
  border: 1px solid #8B9094;
  color: #8B9094;
  border-radius: 20px;
  padding: 10px 15px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.filter-chip1 .remove-filter1 {
  display: inline-block;
  margin-left: 10px;
  color: #999999;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

.filter-chip1 .remove-filter1:hover {
  color: #666666;
}

.remove-filter1 {
  background: none;
  border: none;
  cursor: pointer;
}

label {
  display: block;
  margin: 10px 0; 
}

input[type="radio"] {
  margin-right: 5px;
}

.apply-button1 {
  width: 100%;
  padding: 12px; 
  border: none;
  background-color: #07235B;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px; 
  transition: background-color 0.3s;
}

.apply-button1:hover {
  background-color: #0A3D84; 
}

@media (max-width: 768px) {
  .selected-filters1 {
    width: auto;
    height: auto;
    margin: 20px 10px;
  }

  .filter-chip1 {
    width: auto;
  }
}

@media (max-width: 480px) {
  .selected-filters1 {
    width: 400px;
    height: auto;
    margin: 15px auto;
  }

  .filter-chip1 {
    width: auto;
  }
}
