.nf-paragraph {
  color: rgb(7, 35, 91);
}

.heading-container {
  padding: 3.5rem 7rem;
  color: rgb(7, 35, 91);
  background-color: var(--Shade-White, #fff);
}

.nf-btn {
  background: #0d99ff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.6rem;
  color: var(--Shade-White, #fff);
  text-decoration: none;
  cursor: pointer;
  margin: 1.12rem 0.63rem 0 0;
}
/* 
@media screen and (max-width: 479px) {
  .nf-paragraph {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 140%;
  }

  .heading-container {
    padding: 1rem 5rem 1rem 5rem;
  }

  .nf-btn {
    background: #0d99ff;
    height: 1.5rem;
    font-size: 0.7rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .nf-paragraph {
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 140%;
    padding: 1rem 1rem 1rem 0;
  }

  .heading-container {
    padding: 3rem 5rem 2rem 5rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .nf-paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    padding: 1rem 1rem 1rem 0;
  }

  .heading-container {
    padding: 3rem 10rem 2rem 10rem;
  }

  .nf-btn {
    height: 2.5rem;
    font-size: 0.6rem;
    padding: 1rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .nf-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
    padding: 1rem 2rem 2rem 0;
    color: rgb(7, 35, 91);
  }

  .heading-container {
    padding: 3rem 30rem 2rem 10rem;
    color: rgb(7, 35, 91);
  }
} */
