.nav-dropdown-container {
  display: flex;
}

.nav-dropdown-menu-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-dropdown-menu-icon {
  width: 24px;
  height: 24px;
}

.nav-dropdown-links-list {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
}

.nav-dropdown-links-listitem {
  padding: 12px 16px; 
  background-color: #07235b;
  color: #ffff; 
}

 .nav-dropdown-links {
  color: #ffff;
  text-decoration: none;
}
.nav-links-nav-about-us{
  text-decoration: none;
  color: #ffff;
}
/* .nav-links-nav-about-us  a:hover{

  background-color:#0d99ff;
  display: block;
} */


.nav-dropdown-links-listitem.active .nav-dropdown-links {
  color:#07235b;
}



@media only screen and (min-width: 1024px) {
  .nav-dropdown-container {
    display: none;
  }
}

/* @media only screen and (max-width: 1023px) {
  .nav-dropdown-container {
    display: flex;
  }

  .nav-dropdown-menu-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .nav-dropdown-menu-icon {
    width: 100%;
  }







} */
