.slideInText {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.slideInText.active {
  opacity: 1;
  transform: translateX(0);
}

.mainSection,
.mainSection aside,
.mainSection section {
  display: grid;
  gap: 2rem;
}

.mainSection aside {
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}

.mainSection section {
  gap: 1rem;
}

.mainSection header {
  text-align: center;
}

.mainSection aside img {
  width: 100%;
  object-fit: cover;
}

.mainSection header,
.mainSection aside,
.mainSection section span {
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.mainSection section p {
  color: rgba(133, 142, 173, 1);
  text-align: justify;
}

.mainSection section span,
.mainSection section h3 {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .mainSection header {
    font-size: 1.87rem;
  }
  .mainSection aside,
  .mainSection section p {
    font-size: 1rem;
  }
  .mainSection section p span {
    font-size: 1.25rem;
  }
}
