.Participate {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 20px;  
  margin-top: -110px;
}

.components {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: -80px;
}

.components-p {
  flex: 1; 
  color: #07235b;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 40px;
  max-width: 625px; 
  text-align: justify;
}

.components-img {
  flex: 0 0 auto;
  width: 100%;
  max-width: 536px;
  height: auto;
}

.participate1 {
  color: #07235b;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin: 0 0 100px 0;
}

.participating {
  margin: 10px 0 10px;
}

.participating-span, .participating-span2 {
  display: block;
  margin-bottom: 10px;
}

.participating-span {
  color: #000;
  font-size: 28px;
  font-weight: 500;
}

.participating-span2 {
  color: #07235b;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
}

.participating-p {
  font-family: Roboto;
  color: #858ead;
  font-size: 20px;
  line-height: 110%;
  margin-top: 20px;
  text-align: justify;
}



@media screen and (max-width: 820px) {
  .components-p, .participating-p, .participate1 {
    font-size: 18px;
  }

  .components-p{
    margin: 20px auto;
  }
  .components {
    margin-top: -10px;
  }
  
  .participate1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .components-img {
    margin-top: 20px;
  }
  .participating-p {
    font-family: Roboto;
    color: #858ead;
    font-size: 20px;
    line-height: 110%;
    margin-top: 20px;
    text-align: justify;
  }
}

@media (max-width: 425px) {
  .participate1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .participating-span {
    font-size: 24px;
  }
}
