/* Default styles for desktop view */
.termsContainer {
  grid-column: 1/-1;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(191, 209, 219, 0.85),
      rgba(191, 209, 219, 0.85)
    ),
    url("/src/Assets/Images/still-life-with-scales-justice.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 5rem;
}

.termsContainer > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #07235b;
  text-align: center;
  padding-inline: 1rem;
}

.termsContainer header img {
  max-width: 260px;
  margin-bottom: 3rem;
}

.termsContainer header h2:last-child {
  color: #000;
}

.mainTermsSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: justify;
  max-width: 70%;
  color: #07235b;
  text-align: justify;
}

.mainTermsSection ul li {
  padding-bottom: 2rem;
}

.titleStyle {
  font-weight: 500;
  text-align: left;
  max-width: 90%;
}

@media screen and (max-width: 1024px) {
  .termsContainer header h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .termsContainer header h2:last-child {
    font-size: 22px;
  }

  .termsAccordion .customAccordionSection aside {
    bottom: auto;
  }
}
