.financeContainer {
  grid-column: 2;
  background-color: #fff;
}

.financeContainer header {
  display: flex;
}

.financeContainer header > div {
  position: relative;
  max-width: 50%;
  background-color: #07235b;
}

.financeContainer header > div h3 {
  position: absolute;
  top: 70%;
  left: 10%;
  color: #fff;
  font-size: 30px;
}

.financeContainer header img {
  width: 100%;
  height: 100%;
}

.financeContainer header aside {
  background-color: #07235b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  min-width: 50%;
  text-align: center;
}

.financeContainer header aside h2 {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .financeContainer {
    width: 100%;
    grid-column: 1 / -1;
  }

  .financeContainer header {
    flex-direction: column;
  }

  .financeContainer header > div {
    max-width: 100%;
    height: 200px;
  }

  .financeContainer header > div h3 {
    top: 50%;
  }

  .financeContainer header aside {
    min-height: 15vh;
  }
}
