.financeContainer {
  grid-column: 1/-1;
  background-color: #fff;
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.financeContainer > * {
  max-width: 76%;
}

.financeContainer header {
  display: flex;
}

.financeContainer header > div {
  position: relative;
  min-width: 50%;
  background-color: #07235b;
}

.financeContainer header > div h3 {
  position: absolute;
  top: 70%;
  left: 10%;
  color: #fff;
  font-size: 30px;
}

.financeContainer header img {
  width: 100%;
  height: 100%;
}

.financeContainer header aside {
  background-color: #07235b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  min-width: 50%;
  text-align: center;
}

.financeContainer header aside h2 {
  font-size: 2rem;
}

.chartSection {
  display: flex;
  justify-content: space-between;
}

section.chartSection {
  width: 100%;
}

.chartSection div img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.chartSection summary {
  max-width: 40%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.chartSection summary img {
  width: 100%;
  height: 100%;
}

.chartSection div {
  max-width: 50%;
}

.chartSection aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #00325d;
  padding-left: 2rem;
  counter-reset: section-counter;
}

.chartSection aside p {
  position: relative;
}

.chartSection aside p::before {
  counter-increment: section-counter;
  content: counter(section-counter);
  position: absolute;
  left: -1.8rem;
  color: #fff;
  background-color: rgba(133, 142, 173, 1);
  padding: 0 0.3rem;
  border-radius: 0 0 4px 4px;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .financeContainer > * {
    max-width: 100%;
  }

  .financeContainer header {
    flex-direction: column;
    width: 100%;
  }

  .financeContainer header img {
    object-fit: cover;
  }

  .financeContainer header > div {
    max-width: 100%;
    height: 200px;
  }

  .financeContainer header > div h3 {
    top: 60%;
    left: 5%;
  }

  .financeContainer header aside {
    min-height: 15vh;
  }

  .chartSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .chartSection summary,
  .chartSection div {
    max-width: 90%;
  }
}
