#Donate10Days-Main-Container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  padding-top: 2rem;
  transform: scale3d(0.7, 0.71, 1);
  /* scroll-snap-align: start; */
}

@media only screen and (min-width: 1024px) {
  #Donate10Days-Main-Container {
    margin-top: -15rem;
    margin-bottom: -9rem;
  }
}

@media only screen and (max-width: 768px) {
  #Donate10Days-Main-Container {
    transform: scale3d(0.8, 1, 1);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  #Donate10Days-Main-Container {
    transform: scale3d(0.8, 1, 1);
  }
}

/* Set Css rules for container of first h3 and p elements */
#Donate10Days-Main-Container > div:first-child {
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  background: #07235b;
  padding: 3.125rem 2.5rem 6.25rem 2.5rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

#Donate10Days-Main-Container > div:first-child > h3 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: 110%; /* 2.475rem */
  padding-top: 3rem;
}

#Donate10Days-Main-Container > div:first-child > p {
  color: #0d99ff;
  font-family: Roboto;
  padding: 0 0 3rem 0;
  font-style: normal;
  line-height: 110%;
  text-align: left;
  font-weight: 400;
}

/* Set Css rules for continer of text content as articles */
#Donate10Days-Main-Container > div:last-child {
  display: flex;
  flex-direction: row;
  text-align: center;
  place-content: space-between;
  translate: 0px -110px;
}

#Donate10Days-Main-Container > div:last-child > article {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 1.25rem;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1.875rem;
  background: #fff;
  max-width: 46.5%;
  transition: transform 2s ease-in-out, translate 2s ease-in, width 1ms ease;
}

#Donate10Days-Main-Container > div:last-child > article > h4 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: 110%; /* 1.65rem */
}

#Donate10Days-Main-Container > div:last-child > article > p {
  color: #8b9094;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
}

/* ============================================ Responsıve Css Rules ============================================ */
@media only screen and (max-width: 911px) {
  #Donate10Days-Main-Container > div:last-child {
    place-content: center;
    gap: 2rem;
  }

  #Donate10Days-Main-Container > div:last-child > article {
    max-width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  #Donate10Days-Main-Container > div:last-child {
    flex-direction: column;
    gap: 0;
  }

  #Donate10Days-Main-Container > div:last-child > article {
    max-width: 100%;
  }

  #Donate10Days-Main-Container > div:first-child > h3 {
    text-align: left;
  }
  #Donate10Days-Main-Container > div:first-child > h3 > #fast-track {
    display: none;
  }
  #Donate10Days-Main-Container > div:first-child {
    padding: 0 2rem 5rem 2rem;
  }

  #Donate10Days-Main-Container > div:first-child > p {
    text-align: left;
    margin-left: -45px !important;
    font-weight: 400;
  }
}
