.terms-index{
    padding: 0 70px;
    margin-bottom: 100px;
}

/* .terms-button-close {
    text-align: center;
    margin-top: 50px;
}

.terms-button-close button{
    background: rgba(7, 35, 91, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    padding: 13px 26px;
    border: none;
    border-radius: 15px;
}

.terms-bottom-curve{
    height: 480px;
    width: 100%;
    background-color: #ffffff;
    clip-path: circle(185% at 50% -210%);
}


.terms-bottom{
    background-color: #07235B;
    height: 350px;
    width: 100%;
    margin-top: -150px;
} */


/* MOBILE STYLING */    

@media screen and (max-width: 768px) {
    .terms-index{
        padding: 0 40px 0 20px;
        margin-bottom: 50px;
    } 
}
