.button{
    display: inline-flex;
    border-radius: 100%;
    width:30px;
    height:30px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    border: none;
 }
 .button img{
     width: 100%;
     height:100%;
 }
 
 .button:focus{
     outline: none;
 }