.providerContainer {
  /* background: linear-gradient(90deg, #092868 0%, rgba(7, 35, 91, 0.965586) 13.5%, rgba(7, 35, 91, 0.92) 30%, rgba(7, 35, 91, 0.81) 63.5%, rgba(7, 35, 91, 0.9967) 100%); */
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.providerInnerContainer {
  width: 95%;
  background: #ffffff;
  border-radius: 1.5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0rem 0.19rem 0.94rem -0.13rem rgba(134, 134, 134, 0.2);
}

.providerHeading {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #07235b;
}

.providerForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.providerFormInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.providerLocationBtn {
  display: none;
}

.providerFormField {
  width: 250px;
}

@media only screen and (min-width: 480px) and (max-width: 1224px) {
  .providerHeading {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-width: 375px;
    width: 75%;
  }

  .providerContainer {
    padding-bottom: 1rem;
  }

  .providerForm {
    align-items: center;
  }

  .providerFormInputs {
    min-width: 375px;
    width: 70%;
  }
}

@media only screen and (min-width: 1224px) {
  .providerContainer {
    padding-bottom: 0rem;
  }

  .providerFormField {
    max-height: 200px;
  }

  .providerFormField div div div > div:nth-child(2) {
    padding: 2px;
  }

  .providerFormField div div div > div {
    top: calc(50% - 15px);
  }

  .providerFormField div div div > label {
    top: -5px;
  }

  .providerFormField:nth-child(2) {
    width: 300px;
  }

  .providerFormField:nth-child(3) {
    max-width: 200px;
  }

  .providerInnerContainer {
    width: 90%;
    max-width: 1216px;
  }

  .providerHeading {
    width: 90%;
    flex-direction: row;
    text-wrap: nowrap;
  }

  .providerForm {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }

  .providerFormInputs {
    flex-direction: row;
    justify-content: space-between;
  }

  .providerFormField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 1224px) {
  .providerFormField {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}


.secondBanner {
  background-color: #07235b;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(70vw);
  }
  35.01% {
    transform: translateX(-70vw);
  }
  65%,
  100% {
    transform: translateX(0);
  }
}

.secondBanner p {
  overflow: hidden;
  display: block;
  position: relative;
  animation: slideText 26s linear infinite;
}

.letter {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  transition: color 0s;
}

.blueBanner {
  width: 15%;
  height: 3rem;
}

.qrSection {
  /* background: linear-gradient(90deg, #092868 0%, rgba(7, 35, 91, 0.965586) 13.5%, rgba(7, 35, 91, 0.92) 30%, rgba(7, 35, 91, 0.81) 63.5%, rgba(7, 35, 91, 0.9967) 100%); */
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0  0 0rem;
}

.qrContainer {
  text-align: right;
  padding: 1rem;
  position: relative;
  right: 50px; 
}
.qrContainer p {
  color: rgba(179, 195, 223, 1); /* Change this to your preferred color */
}


@media only screen and (max-width: 1200px) {
  .qrContainer {
    right: 0; 
    text-align: left;
  }
}

@media only screen and (max-width: 580px) {


.qrSection {
  justify-content: center;
  align-items: center;
}

.qrContainer {
  text-align: center;
}

}