/* mobile view */
.communityContainer {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  padding: 2.5rem;
}

.communityHeading {
  width: 95%;
  text-align: center;
  color: #07235b;
  padding-bottom: 2rem;
}

.communityContainer aside a {
  align-self: flex-start;
  width: 200px;
  height: 200px;
}

.communityDescription {
  width: 95%;
  text-align: center;
  color: #07235b;
  padding-bottom: 2rem;
}

.community-teams {
  width: 95%;
  background-color: #f0f7fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.community-team-btn {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #07235b;
  background: #ffffff;
}

.coming-soon-p {
  color: #b2bbc3;
}

.community-team-btn.focus {
  background-color: #07235b;
  color: #ffffff;
}

.communityContainer aside {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.communityContainer aside a {
  display: flex;
  align-items: center;
}

.communityContainer aside img,
.communityContainer aside a img {
  width: 200px;
  cursor: pointer;
}

.communityContainer aside img,
.communityContainer aside a,
.communityContainer aside a img {
  object-fit: contain;
}

/* tablet view */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .communityContainer aside {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .communityContainer aside a {
    align-items: end;
  }

  .communityContainer {
    padding: 2rem 2rem 3rem;
  }

  .communityDescription {
    padding-bottom: 0;
  }

  .community-teams {
    max-width: 390px;
  }

  .community-team-btn {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 143%;
  }

  .coming-soon-p {
    font-size: 1rem;
    line-height: 120%;
    font-weight: 400;
  }
}
/* desktop view */
@media only screen and (min-width: 1024px) {
  .communityContainer {
    padding: 5rem 0;
  }

  .community-teams-text h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }
  .community-teams-text h4 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  }

  /* update line-height to 143px */
  .communityDescription {
    width: 70%;
    max-width: 1004px;
  }

  .community-teams {
    width: 90%;
    max-width: 1216px;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
  }

  .community-team-btn {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .communityContainer aside {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .communityContainer aside a {
    align-items: end;
  }
  .communityContainer {
    padding: 4rem 2rem;
  }
  .communityDescription {
    padding-bottom: 0;
    text-align: justify;
  }
  .team-join-description {
    padding: 2rem 0;
  }

  .team-heading-h2 > span {
    color: #0d99ff;
    font-size: 1.5rem !important;
  }

  .team-heading-h2 {
    font-size: 1.875rem !important;
    padding-left: 1.45rem;
  }
}
