.aboutUs {
  background-color: #f2f8fd;
  display: grid;
  place-items: center;
  grid-template-columns: 10% 1fr 10%;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .aboutUs {
    grid-template-columns: 2rem 1fr 2rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .aboutUs {
    grid-template-columns: 1rem 1fr 1rem;
  }
}
