.copywrite-container,
.cybesecurity-container {
    margin: 0 auto;
    width: 100%;
    padding: 50px;
    max-width: 1070px;
}

.container2 {
    width: Fill (1,170px);
    height: Hug (1,448.14px);
    padding: 20px;
    border: 0px 0px 1px 0px;
    gap: 18px;
}
.title-h1 {
    width: 100%;
    height: auto;     
    display: flex;
    margin-bottom: 23px;
}
.title {
    width: 1091px;
    height: 34px;
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;  
}
.minus-icon {
    float: right;
    border-radius: 100px;
    background: #4598F7; 
    display: flex;
    width: 38.681px;
    height: 45.141px;
    padding: 0px 10.681px 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.the-job {
    padding: 20px;
}
.job {
    display: flex;
    justify-content: space-between;
}
.subtitle {
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;  
    margin-bottom: 24px;
}
.remote {
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;  
}
.T-icon {
    width: 26px;
    color: var(--Color-1, #2F1160);
    text-align: center;
    font-family: Font Awesome 5 Free;
    font-size: 22.412px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;  
}
.description-container {
    max-width: 1220px;
    align-self: stretch;
}
.description-title,
.responsibilities-title,
.qualifications-title,
.skills-title,
.note-title {
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;  
}
.description-text,
.responsibilities-text,
.qualifications-text,
.skills-text {
    padding: 20px;
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
.note-text {
    padding: 20px 0 20px 0;
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;  
}
.join-us-text {
    padding-bottom: 20px;
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;  
}
.apply-text {
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;  
}