.consider{
    display: flex;
}
.considerations{
    margin-left: 80px;
}
.considerations p{
    width: 672px;
    flex-shrink: 0;
}
.consider img{
    width: 500px;
    flex-shrink: 0;
    margin-right: 100px;
    margin-left: 32px;
    margin-top: 200px;
    margin-bottom: 360px;
}
.consideration{
    margin-top: 150px;
    margin-bottom: 281px;
    padding-left: 54px;
}
.difference{
    margin-left:100px ;
    margin-right: 100px;
    margin-bottom: 179px;
    margin-top: 281px;
}
.consideration p{
    color: var(--sn-primary-headings-07235-b, #07235B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.consideration p~p{
    width: 671px;
    flex-shrink: 0;
    color: var(--sn-body-text-grey-858-ead,#07235B );
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.consideration p span{
    font-size: 20px;
}
.difference{
    background-color: #07235B;
    display: block;
    margin-left: 157px;
    margin-right: 157px;
    margin-top: 70px;
    margin-bottom: 190px;
}
.difference h1{
    text-align: center;
    padding-top: 95px;
    padding-bottom: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 143%;
}
.difference p{
    text-align: center;
    margin-left: 200px;
    padding-bottom: 69px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.span4{
    color: black;
    font-weight:500;
    font-size: 24px;
    margin-bottom: 30px;
    padding-left: 52px;
}
@media (max-width:768px) {
    .consider{
        display: block;
    }
  .consideration{
    margin: 0px;
    padding: 0px;
    padding-top: 250px;
  }  
  .consideration p{
        position: relative;
  }
  .consider img{
    margin: 0px;
    padding: 0px;
    width: 444px;
    height: 328px;
    flex-shrink: 0; 
    margin: 52px 162px 200px 162px;
  }
  .difference{
    width: 720px;
    height: 450px;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px; 
    margin-left: 24px;
    margin-bottom: 50px;
  }
  .difference h1{
    width: 702px;
    height: 28px;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; 
    margin: 0px;
    padding: 0px;
    padding-top: 49px;
    padding-bottom: 50px;
  }
  .difference p{
    width: 690px;
    height: 163px;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin: 0px;
    padding: 0px;
    padding-left: 16px;
  }
}
@media (max-width:414px) {
    .consider{
        display: block;
        margin: 0px;
        padding: 0px;
    }
    .consider img{
        width: 342px;
        height: 318px;
        flex-shrink: 0;
        margin: 0px;
        padding: 0px; 
        padding-left: 50px;
        padding-right: 16px;
        padding-top: 82px;
        margin-bottom: 80px;
    }
    .consideration{
        margin-left: 24px;
        padding-top: 10px;
    }
    .consideration p{
        color: var(--sn-primary-headings-07235-b, #07235B);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        margin: 0px;
        padding: 0px;
        width: 343px;
        flex-shrink: 0; 
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .consideration p~p{
        color: var(--sn-body-text-grey-858-ead, #858EAD);
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin: 0px;
        padding: 0px; 
        width: 343px;
        flex-shrink: 0; 
    }
    .consideration span{
        color: var(--sn-primary-headings-07235-b, #07235B);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        margin: 0px;
        padding: 0px;
        width: 343px;
        height: 554px;
        flex-shrink: 0; 
    }
    .consideration .span4{
        color: var(--sn-black, #000);
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; 
        margin: 0px;
        padding: 0px; 
        width: 343px;
        height: 554px;
        flex-shrink: 0; 
        margin-bottom: 20px;
    }
    .difference{
        width: 343px;
        height: 520px;
        flex-shrink: 0;
        margin: 0px;
        padding: 0px; 
        margin-left: 24px;
    }
    .difference h1{
        width: 223px;
        height: 19px;
        flex-shrink: 0;
        color: var(--white, #FFF);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; 
        margin-left: 40px;  
    }
    .difference p{
        width: 267px;
        height: 269px;
        flex-shrink: 0;
        color: var(--white, #FFF);
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        margin: 0px;
        padding: 0px;
        margin-left: 24px;  
    }
}