
.selectContainer {
    position: relative;
    display: inline-block;
}

.selectContainer label {
    margin-right: 10px;
  }

  .selectContainer label::before {
    position: absolute;
    content: url(/src/Assets/Icons/survey-label-icon.svg);
    left: -1.1rem;
}

.selectContainer label,
.customSelect select {
    color: var(--primary-color)
}

.customSelect {
    margin-top: 0.56rem;
}
  
.customSelect,
.selectWrapper {
    position: relative;
    display: flex;
    align-items: center;
}


.customSelect select {
    -webkit-appearance: none; /* Removes default styling for WebKit browsers */
    -moz-appearance: none;    /* Removes default styling for Firefox */
    appearance: none;         /* Removes default styling */
    padding: 5px 30px 5px 5px; /* Adjust padding to fit your SVG icon */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.6rem 0.75rem;
    min-width: 12rem;
    border: 0.13rem solid rgb(203, 210, 224);
    font-size: 1rem;
  }

 

  .selectWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

  .selectArrow {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

@media screen and (max-width: 480px){
    .selectContainer label {
        font-size: 1rem;
      }
     
  }