:root {
  --primary-color: #07235b;
  --secondary-color: #858ead;
  --white-color: #fff;
  --black-color: #000;
  --font-family: Roboto;
}

.Consider {
  margin: 20px auto;
  max-width: 1216px;
  width: 100%;
  padding: 0 1rem;
}

.consider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.consider-img {
  width: 500px;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
  flex-shrink: 0;
}

.consideration,
.difference {
  flex: 1;
  margin: 1.25rem auto;
}

.consideration-span,
.considerspan {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.5rem;
}

.consideration1,
.consideration2 {
  font-family: var(--font-family);
  color: var(--secondary-color);
  line-height: 1.4;
  margin: 0.625rem 0;
  font-size: 1.25rem;
  text-align: justify;
}

.difference {
  background: url("src/Assets/Images/Blue-Pattern.png") no-repeat center/cover;
  color: var(--white-color);
  text-align: center;
  padding: 1.25rem;
}

.difference1 {
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
  line-height: 1.4;
}

.difference2,
.difference3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0.625rem 0;
  padding: 0 1.25rem;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .consider {
      flex-direction: column;
  }

  .consideration1,
  .consideration2,
  .difference1 {
      font-size: 24px;
  }
  .difference2,
  .difference3{
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .consideration-span,
  .considerspan {
      font-size: 1.5rem;
  }

  .difference1 {
      font-size: 24px;
  }

  .difference2,
  .difference3 {
      padding: 0.625rem auto;
  }
}
