
.terms1{
    text-align: center;
}

.terms1 img{
    width: 200px;
    margin: 50px 0;
}

.terms3{
    text-align: center;
    color: rgba(7, 35, 91, 1);

}

.terms3 h3{
    font-size: 36px;
    color: rgba(7, 35, 91, 1);
    font-weight: 600;
    margin-bottom: 30px;
}

.terms3 h4{
    font-size: 28px;
    color: rgba(7, 35, 91, 1);
    font-weight: 800;
    margin-bottom: 10px;
}

.terms3 p{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}

.terms4{
    color: rgba(7, 35, 91, 1);
}

.terms4 p{
    margin-bottom: 20px;
    text-align: justify;
}


.terms4 span{
    color: rgba(7, 35, 91, 1);;
    font-weight: 500;
    margin: 0 10px 0 0;
}

.terms4 ul{
    padding: 0 0 0 30px;
}

.terms4 ul li{
    margin-bottom: 1rem;
}
.terms5 {
    margin-top: 50px;
    padding: 0 0 0 10px;
    text-align: justify;
}

.terms5 p{
    color: rgba(7, 35, 91, 1);
}

.expand-div{
    margin-top: 1rem;
    display: flex;
    padding: 5px 0;
    text-align: justify;
}

.header30, .header31, .header32, .header33, .header34, .header35, .header36,.header37{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(7, 35, 91, 1);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

.header3a{
    margin-bottom: 20px;
}

.header3a h3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: rgba(7, 35, 91, 1);
}

.header3-remove{
    text-decoration: none;
}

.after{
    margin-left: 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.terms-button-close {
    text-align: center;
    margin-top: 50px;
}

.terms-button-close button{
    background: rgba(7, 35, 91, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    padding: 13px 26px;
    border: none;
    border-radius: 15px;
}


