.container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
} 
.Hero-image{
    background-color: rgb(242, 248, 253); 
    /* background-color:#Ffff; */
}
.img-holder{
    margin-top: 10px;
    width: 100%;
    height:280px;
}

@media only screen and (max-width:820px){

    .img-holder{
        height:auto;
    }
    .container{ 
        margin: 0 auto;
        width: 100% !important;
        max-width: 1216px;
    }

}

@media only screen and (max-width:480px){
    .container{
            
    /* margin: 0 auto; */
    }
    
    .img-holder{
        margin-top: 0px;
        width:100%;
        height:140px;
        width: 100% !important;
        max-width: 1216px;
}
    }
    
