.custom-tabs .MuiTabs-flexContainer {
  justify-content: space-between;
}

.tab-image {
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 4rem;
  max-width: 32.3125rem;
  border-radius: 3.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.2rem;
}

/* mobile */
@media screen and (max-width: 479px) {
  .tab-image {
    max-width: 14.4375rem;
  }
  .tab-text > div {
    font-size: 1rem;
  }
  .custom-tabs .MuiTab-root {
    font-size: 1rem;
  }
}
/* tablet */
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .tab-image {
    width: 29.375rem;
  }
  .tab-text > div {
    font-size: 1rem;
  }
  .custom-tabs .MuiTab-root {
    font-size: 1rem;
  }
}
