:root{
    --light-gray-color:#f0f7fd;
    --gray-color:#f7f7f74d;
    --dark-blue-color:#07235b;
    --light-blue-colors:#0d99ff;
    --dark-red-color:#c33418;
    --secondary-color: #b0b1b3;
}


div.store-form-control{
    display: flex;
    flex-direction: column;
}
div.store-form-control label {
    width: 100%;
    padding:0rem 1rem;
}
div.store-form-control label span{
    /* font-weight: 600; */
    font-size: 1.1rem;
    color: var(--dark-blue-color);
}
div.store-form-control select{
    width: 96%;
    padding: 0.8rem 1.5rem;
    margin: 1rem 0rem;
    outline: none;
    border-radius: 0.8rem;
    border: none;
    color: var(--dark-blue-color);
    font-size: 1.3rem;
    background-color: white;
    box-shadow: 1px 1px 4px var(--secondary-color);
}