.fundraiserContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greyText {
  color: #858ead;
}

.blueText {
  color: #22aaf4;
  text-decoration: underline;
}

.fundraiserContainer img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .fundraiserContainer {
    column-gap: 1rem;
  }

  .fundraiserContainer img {
    align-self: stretch;
  }
}

@media screen and (max-width: 480px) {
  .greyText {
    display: none;
  }

  .fundraiserContainer {
    column-gap: 0.5rem;
  }
}
