.outer-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Purple-25, #f7f6f9);
  gap: 9.56rem;
  padding: 3.94rem 0 7rem 0;
}

.card-container {
  width: 22.125rem;
  height: auto;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
  transition: transform 0.2s ease;
  animation: slideInFromRight 1s ease-out;
}

.card-container:hover {
  transform: scale(1.08);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem 1.875rem var(--Devices, 0rem) var(--Devices, 0rem);
  background: var(--SN-Primary-Headings-07235B, #07235b);
  padding: 1.13rem 0 1.56rem 0;
}

.part-1,
.part-2 {
  color: var(--White, var(--Shade-White, #fff));
}

.part-1 {
  padding-right: 0.6rem;
}

.images-container {
  text-align: center;
  padding: 1.19rem 0 1rem 0;
  width: 100%;
  object-fit: cover;
}

.content-section p {
  padding: 0 1.87rem 0.69rem;
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.btn-container {
  float: right;
}

.btn-container button {
  display: flex; /* Makes the button an inline-level block container */
  justify-content: center;
  align-items: center;
  margin: 0.69rem 1.87rem 1.56rem 0;
  padding: 0.62rem 1.25rem;
  border-radius: 0.625rem;
  border: 2px solid var(--SN-Primary-Headings-07235B, #07235b);
  background: #fff;
}

.button-img {
  padding-left: 0.66rem;
}

@media screen and (max-width: 1024px) {
  .outer-card-container {
    justify-content: space-evenly;
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .outer-card-container {
    gap: 1rem;
    padding-bottom: 3.8rem;
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .outer-card-container {
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
  }
  .card-container {
    width: 90%;
  }
}
