.heroContainer {
  background: #f0f7fd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainerInner {
  width: 90%;
  padding-bottom: 0;
}

.heroHeadingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}

.heroHeadingH3 {
  color: #0d99ff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  word-break: keep-all;
  word-wrap: nowrap;
}

.heroHeadingH1 {
  color: #07235b;
}

.heroHeadingH2 {
  color: #c33418;
}

.heroHeadingH4 {
  color: rgba(7, 35, 91, 0.61);
}

.heroImageContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.heroImg {
  width: 100%;
  display: block;
}

.homePage .heroContainer .heroSurveyBanner {
  background-color: #d1ecff;
  font-weight: bold;
  text-align: center;
}

.firstBanner {
  display: none;
  background: #94d4ff;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.firstBanner a {
  text-decoration: underline;
  color: #0d99ff;
}

.providerHeading {
  margin-top: auto;
  padding-bottom: 1rem;
}

.secondBanner {
  background-color: #07235b;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(70vw);
  }
  35.01% {
    transform: translateX(-70vw);
  }
  65%,
  100% {
    transform: translateX(0);
  }
}

.secondBanner p {
  overflow: hidden;
  display: block;
  position: relative;
  animation: slideText 26s linear infinite;
}

.letter {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}

.secondBanner > div:first-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.secondBanner > div:last-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.blueBanner {
  background-color: #d1ecff;
  width: 15%;
  height: 2rem;
}

@media only screen and (max-width: 1024px) {
  @keyframes slideText {
    0% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(100vw);
    }
    35.01% {
      transform: translateX(-100vw);
    }
    65%,
    100% {
      transform: translateX(0);
    }
  }

  .firstBanner {
    display: block;
  }
  .secondBanner > div {
    display: none;
  }

  .secondBanner {
    justify-content: center;
    padding: 0.5rem;
    color: #fff;
  }


  .secondBanner p {
    color: #fff;
    animation: slideText 18s linear infinite;
  }

  .heroSurveyBanner {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .secondBanner p {
    animation: slideText 15s linear infinite;
  }
  .heroSurveyBanner {
    font-size: 1rem;
  }
  .heroContainerInner h2.providerHeading {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .heroContainerInner h2.providerHeading {
    display: none;
  }

  .heroSurveyBanner {
    font-size: 1.2rem;
  }

  .heroHeadingH4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    color: rgba(133, 142, 173, 1);
  }

  .heroContainerInner {
    display: flex;
  }

  .heroImageContainer {
    width: fit-content;
    align-self: flex-end;
  }

  .heroImg {
    max-width: 480px;
  }
}

@media only screen and (min-width: 1024px) {
  .heroContainerInner {
    display: flex;
    max-width: 1216px;
    justify-content: space-between;
  }

  .heroHeadingContainer {
    width: 60%;
    justify-content: center;
    margin-top: 5rem;
  }

  .heroHeadingH3 {
    color: #07235b;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .heroHeadingH4 {
    color: #07235b;
  }

  .heroImageContainer {
    width: 40%;
  }
}

.letter {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
  transition: color 0.0s ; 
}