.heroContainer {
  /* background:  linear-gradient(90deg, #07235B 0%, rgba(7, 35, 91, 0.965586) 13.5%, rgba(7, 35, 91, 0.92) 30%, rgba(7, 35, 91, 0.81) 63.5%, rgba(7, 35, 91, 0.9967) 100%); */
   display: flex;
 flex-direction: column;
 align-items: center;
}

.heroButton {
 background-color: #0d99ff;
 color: #f0f7fd;
 min-width: 150px;
 padding: 15px 5px;
 border: 2px solid #0d99ff;
 border-radius: 5px;
 font-size: 1rem;
 text-align: center; 
 border-radius: 2px;
 cursor: pointer;
 margin-top: 20px;
 transition: background-color 0.3s ease;
}

.heroButton:hover {
 background-color:transparent;
 border: 2px solid #fff;
 color: white;
}




.requestDemoButton {
  background-color: transparent;
  border-color: #ffffff;
  color: #f0f7fd;
  min-width: 150px;
  padding: 15px 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center; 
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
 }
 
 .requestDemoButton:hover {
  background-color:#0d99ff;
  border: 2px solid #0d99ff;
  color: white;
 }

/* Switched flex direction to row so image is on the left and text on the right */
.heroContainerInner {
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;
 align-items: center;
 width: 83%;
 max-width: 1216px;
 margin: 0 auto;
 padding: 0;
}
.heroHeadingH1 {
 font-size: 2.5rem;
}
.heroHeadingH4 {
 font-size: 1.1rem;
}

.heroHeadingContainer {
 width: 40%;
 display: flex;
 flex-direction: column;
 gap: 12px;
 margin-bottom: 50px;
 text-align: left;
}

.heroHeadingH1,
.heroHeadingH4 {
 color: #f0f7fd;
}

.heroImageContainer {
 width: 60%;
 display: flex;
}

.heroImg {
 max-width: 130%;
 height: 400px;
 margin-left: 3rem;
}

.firstBanner {
 display: none;
 background: #94d4ff;
 width: 100%;
 text-align: center;
 padding: 4px;
}

.firstBanner a {
 text-decoration: underline;
 color: #0d99ff;
}

.secondBanner {
 background-color: #07235b;
 width: 100%;
 text-align: center;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

@keyframes slideText {
 0% {
   transform: translateX(0);
 }
 35% {
   transform: translateX(70vw);
 }
 35.01% {
   transform: translateX(-70vw);
 }
 65%,
 100% {
   transform: translateX(0);
 }
}

.secondBanner p {
 overflow: hidden;
 display: block;
 position: relative;
 animation: slideText 26s linear infinite;
}

.letter {
 font-size: 1rem;
 font-weight: 400;
 line-height: 110%;
 transition: color 0s;
}

.blueBanner {
 background-color: #d1ecff;
 width: 15%;
 height: 2rem;
}

.heroButtonsFlex{
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 1024px) {

  .heroContainerInner {
    align-items: end;
    width: 95%;
  }

  .heroImageContainer {
    width: 50%;
    display: flex;
   }
   
   .heroImg {
    max-width: 100%;
    height: 300px;
    margin-left: 3rem;
   }

   
   
   .heroHeadingContainer{
    width: 49%;
   }

 .firstBanner {
   display: block;
 }
 .secondBanner > div {
   display: none;
 }
 .secondBanner {
   justify-content: center;
   padding: 0.5rem;
   color: #fff;
 }
 .secondBanner p {
   color: #fff;
   animation: slideText 18s linear infinite;
 }
 .heroSurveyBanner {
   display: none;
 }
}


@media only screen and (max-width: 768px) {

  .heroContainerInner {
    padding-top: 50px;
    display: block;
    width: 98%;
  }

  .heroImageContainer {
    margin-top: -150px;
    width: 100%;
    height:fit-content;
    display: flex;
   }
   
   .heroImg {
    max-width: 100%;
    height: 300px;
    margin-left: auto;
   }
   
   .heroHeadingContainer{
    width: 100%;
    padding: 0 50px;
    height:fit-content;
   }
  }

  @media only screen and (max-width: 580px) {

    .heroHeadingContainer{
      width: 100%;
      padding: 0 20px;
      height:fit-content;
     }
    
    .heroImageContainer {
      margin-top: -40px;
      margin-left: auto;
      margin-right: auto;
     }
     .heroImg {
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
     }
    }  


@media only screen and (max-width: 480px) {

  .heroHeadingContainer{
    width: 100%;
    padding: 0 20px;
    height:fit-content;
   }
  
  .heroImageContainer {
    margin-top: -0px;
    margin-left: auto;
    margin-right: auto;
   }
   
 .secondBanner p {
   animation: slideText 15s linear infinite;
 }
 .heroSurveyBanner {
   font-size: 1rem;
 }
}

@media only screen and (min-width: 1024px) {
 .heroContainerInner {
   max-width: 1216px;
 }

 .heroHeadingContainer {
   margin-top: 5rem;
 }

 
}



@media (max-width: 650px) and (min-width: 578px) {

  
  .heroButtonsFlex{
    gap: 4px;
  }

 .heroButton {
   min-width: 120px;
  }
  
  
  .requestDemoButton {
    min-width: 120px;
   }
  }
  

  
@media (max-width: 578px) and (min-width: 480px) {

  
 .heroButton {
   max-width: 250px;
   min-width: 180px;
   width: 100%;
  }
  
  
  .requestDemoButton {
    max-width: 250px;
    min-width: 180px;
    width: 100%;

   }
  }


  @media (max-width: 481px) {

    .heroButtonsFlex{
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }
  
    .heroButton {
      max-width: 100%;
      min-width: 0px;
      width: 100%;
     }
     
     
     .requestDemoButton {
       max-width: 100%;
      min-width: 0px;
       width: 100%;
   
      }
     }
  


@media only screen and (min-width: 1324px) {

  
 .heroButton {
   min-width: 210px;
  }
  
  
  .requestDemoButton {
    min-width: 210px;
   }
 }
 