/* Font family style */
.modal {
  font-family: 'Work Sans';
  font-style: normal;
}

/* css styling for the close modal icon */

.close {
  display: flex;
  flex-direction: row;
  color: #A3AAC2;
  margin-left: 96%;
  padding-top: 5px;
  font-size: 25px;
  cursor: pointer;
}

/* logo styling */
.community__logo {
  text-align: center;
}

.community__logo img {
  height: 50px;
}

/* Modal popup styling */

.jct-holder{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  place-content: center;
  align-items: center;
}


.mod1 {
  width: 700px;
  border-radius: 20px;
  background-color: #F8FAFC;
  /* box-shadow: 0px 0px 5px #E3E6EE; */
  border: 1px solid #07235B;
  /* border: 2px solid red; */
  width: 50%;
  height: 590px;
  /* border: 2px solid red; */
  border-radius: 20px;
  background-color: #F8FAFC;
  /* box-shadow: 0px 0px 5px #E3E6EE; */
  border: 1px solid #07235B;
  /* place-items: center; */
  /* justify-content: center; */
}

/* The bottom ellipse styling */

.modal {
  height: 360px;
  width: 100%;
  background-color: #F8FAFC;
  clip-path: circle(118% at 50% -100%);
  border: none;
}

.Login_down {
  background-color: #07235B;
  height: 180px;
  /* width: 100%; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -170px;
}


/* css styling for the form header */

#modal__header {
  text-align: center;
}


gdt-head p {
  text-align: center;
}

.gdt__p{
  text-align: center;
  font-size: 15px;
  color: #C33418;
  font-weight: 400;
}

#modal__header {
  color: #07235B;
  font-size: 24px;
  font-weight: 600;
}

.pxp1 {
  text-align: center;
  color: #0D99FF;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 17%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.progressbar {
  text-align: center;
  width: 50%;
  margin: auto;
}

.progressbar__img{
  /* width: 80%; */
  height: 17px;
}

.progressbar__img1{
  height: 17px;
  margin: 10px 0;
}

/* FORM STYLING */

.form__content {
  /* width: 80%; */
  width: 80%;
  margin: 5px 10% 0 10%;
}

.input {
  position: relative;
  margin-bottom: 13px;
}

.input__textarea {
  position: relative;
  border: 1.5px solid #E0E3EB;
  /* border: 1.5px solid #E0E3EB;
  height: 80px; */
}

.input__field {
  width: 100%;
  padding: 8px;
  border: 1.5px solid #E0E3EB;
  border-radius: 4px;
  background-color: #ffffff;
}

.input__label {
  position: absolute;
  margin-top: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #A3AAC2;
  pointer-events: none;
  transition: all 0.3s ease;
}


.opt__gdt::after {
  content: "*";
  color: red;
}

.input__label::after {
  content: "*";
  color: rgba(237, 101, 101, 1);
}

.textarea__field {
  width: 100%;

  height: 70px;
  padding: 10px;
   border: 1.5px solid #E0E3EB;
  height: 80px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  background-color: #ffffff;
  resize: none;
}

.textarea__label {
  position: absolute;
  margin-top: 5px;
  left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #A3AAC2;
  pointer-events: none;
  transition: all 0.3s ease;
}

.pxp2 {
  color: #667299;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.pxp2::before {
  content: "* ";
  color: rgba(237, 101, 101, 1);
}

.btnx {
  text-align: center;
}

.btnx button {
  font-size: 20px;
  font-weight: 200;
  margin-top: 120px;
  padding: 10px 14px;
  width: 252.84px;
  background: #0D99FF;
  border-radius: 20px;
  color: #ffffff;
  border: 1px solid #0D99FF;
  z-index: 1;
}

.btnx button:hover {
  background-color: #062758;
  border: 1px solid #ffffff;
}

/* ON INPUT FIELD PLACEHOLDER IS SET TO DISPLAY OF NONE */

.input__field:focus~.input__label,
.input__field:not(:placeholder-shown)~.input__label {
  z-index: -1;
}

.textarea__field:focus~.textarea__label,
.textarea__field:not(:placeholder-shown)~.textarea__label {
  z-index: -1;
}

/* input validation message styling */
.error-msg {
  position: fixed;
  margin-top: -12px;
  left: 29%;
  /* left: 370px; */
  color: red;
  font-size: 12px;
  transform: translate(-10%, -10%);
}

/* preloader displayed on form submission */

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  /* background: conic-gradient(from 180deg at 50% 50.00%, #062758 0deg, rgba(13, 153, 255, 0.00) 360deg); */
  border: 10px solid #062758;
  border-top: 10px solid #f1f1f1;
  border-radius: 50%;
  /* Animation for the spinning element */
  animation: spin 1s linear infinite;
  z-index: 1;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



@media only screen and (max-width: 280px) {

  .mod1 {
    height: 600px;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /* .progressbar__img{
    width: 50%;
    height: 15px;
    margin-bottom: 5px;
  } */

  .gdt__p1{
    margin-top: 20px;
  }

  .progressbar__img1{
    width: 50%;
    height: 10px;
    margin: 35px 0;
  }

  .close {
    margin-left: 92%;
  }

  .modal {
    clip-path: circle(170% at 50% -70%);
  }

  .Login_down {
    height: 130px;
    width: 100%;
    margin-top: -130px;
  }

  .loader {
    position: absolute;
    top: 45%;
    left: 35%;
  }

  .btnx button {
    font-size: 14px;
    width: 222.84px;
    margin-top: 50px;
  }
}


@media only screen and (min-width: 290px) and (max-width: 360px) {
  .mod1 {
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .modal {
    clip-path: circle(137% at 50% -55%);
  }

  .Login_down {
    height: 230px;
    width: 100%;
  }

}

@media only screen and (min-width: 370px) and (max-width: 380px) {
  .mod1 {
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .modal {
    clip-path: circle(137% at 50% -55%);
  }

  .Login_down {
    height: 230px;
    width: 100%;
  }

}

@media only screen and (min-width: 381px) and (max-width: 395px) {
  .mod1 {
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .modal {
    clip-path: circle(135% at 50% -55%);
  }

  .Login_down {
    height: 230px;
    width: 100%;
  }

}

@media only screen and (min-width: 395px) and (max-width: 415px) {
  .mod1 {
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .modal {
    clip-path: circle(137% at 50% -60%);
  }

  .Login_down {
    height: 230px;
    width: 100%;
  }

}


/* SURFACE PRO STYLING */

@media only screen and (min-width: 415px) and (max-width: 590px) {

  .mod1 {
    margin: 0 0%;
  }


  .close {
    margin-left: 92%;
    font-size: 30px;
  }

  .modal {
    clip-path: circle(107% at 50% -52%);
  }
}


/* Mobile styling */

/* Adjustments for smaller screens */
@media (max-width: 767px) {
  .mod1 {
    width: 90vw;
    margin: 30px 5% ;
    border-radius: 20px;
  }


  .close {
    margin-left: 92%;
  }

  .gdt-head h1 {
    font-size: 20px;
  }

  .pxp1 {
    font-size: 12px;
    padding: 0 10%;
  }

  .progressbar__img{
    width: 50%;
    height: 10px;
    margin-bottom: 5px;
  }

  .progressbar__img1{
    width: 50%;
    height: 10px;
    margin: 10px 0;
  }

  .input__field,
  .input__field1,
  .textarea__field,
  .textarea__field1 {
    width: 100%;
    padding: 8px;
  }

  .pxp2 {
    font-size: 12px;
  }

  .btnx button {
    font-weight: 200;
    width: 200.84px;
    margin-top: 130px;
  }

  .error-msg {
    left: 17.5%;
    font-size: 10px;
  }
}

/* MINI TABLET STYLING */

@media only screen and (min-width: 768px) and (max-width: 810px) {

  .mod1 {
    width: 70vw;
    margin: 30px 15%;
  }

  .modal {
    clip-path: circle(105% at 50% -52%);
  }

  .Login_down {
    height: 230px;
    width: 100%;
  }

  .progressbar__img{
    width: 50%;
    height: 10px;
    margin-bottom: 5px;
  }

  .progressbar__img1{
    width: 50%;
    height: 10px;
    margin: 10px 0;
  }

  .error-msg {
    left: 23.5%;
  }
}

/* IPAD STYLING */

/* @media only screen and (min-width: 810px) and (max-width: 830px) {

  .close {
    margin-left: 92%;
    font-size: 30px;
  }

  .modal {
    clip-path: circle(115% at 50% -55%);
    border: none;
  }

  .Login_down {
    height: 200px;
  }


  .textarea__label {
    left: 53px;
  }
} */

/* SURFACE PRO STYLING */

@media only screen and (min-width: 820px) and (max-width: 912px) {

  .mod1 {
    width: 70vw;
    margin: 30px 15%;
  }


  .close {
    margin-left: 92%;
    font-size: 30px;
  }

  .modal {
    clip-path: circle(102% at 50% -52%);
  }

  .error-msg {
    left: 23.5%;
  }
}

/* NEST HUB SCREEN STYLING */

 @media only screen and (min-width: 1020px) and (max-width: 1024px) {

  .mod1 {
    width: 70vw;
    margin: 5px 15%;
  }


  .close {
    font-size: 30px;
  }

  .modal {
    clip-path: circle(90% at 50% -50%);
  }

  .btnx button{
    width: 180px;
    padding: 5px 14px;
    margin-top: 150px;
  }
} 

/* NEST HUB PRO SCREEN STYLING */

/* @media only screen and (min-width: 1030px) and (max-width: 1280px) {

  .mod1 {
    margin: 0 14%;
  }

  .modal {
    height: 700px;
    clip-path: circle(95% at 50% -55%);
    border: none;
  }

  .Login_down {
    background-color: #07235B;
    height: 220px;
    margin-top: -500px;
  }

  .textarea__label {
    left: 180px;
  }

  .pxp2 {
    margin-top: 40px;
  }
} */

/* MINI DESKTOP SCREEN STYLING */

@media only screen and (min-width: 1028px) and (max-width: 1035px) {

  /* .modal {
    clip-path: circle(110% at 50% -79%);
  } */

/* input validation message styling */
.error-msg {
  left: 24%;
}
}