.progress-dot-bar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 100px;
    margin-left: 100px;
    /* justify-content: space-evenly; */
}

.dot.active {
    background-color: #ff0000;
    /* Use your desired active color */
}