.slideInText {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.slideInText.active {
  opacity: 1;
  transform: translateX(0);
}

.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.image {
  width: 100%;
  background-size: cover;
}

.sectionContainer section {
  display: grid;
  gap: 1rem;
}

.sectionContainer section p {
  color: var(--SN-Primary-Headings-07235B, #07235b);
  text-align: justify;
}

.titleStyle {
  font-size: 1.5rem;
  font-weight: 400;
}

.visibleContentStyle,
.hiddenContentStyle,
.hiddenContentStyle a {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.hiddenContentStyle {
  overflow-y: visible;
}

@media screen and (max-width: 1024px) {
  .sectionContainer {
    gap: 1rem;
  }

  .sectionContainer {
    gap: 1rem 2rem;
  }
}





/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.confirmationModal {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.confirmationModal h3 {
  color: #00234b;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.confirmationModal p {
  color: #4b586a;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.confirmButton {
  background-color: #0095ff;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #0077cc;
}

.cancelButton {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #d0d0d0;
}

