.hero-container {
  background: #f0f7fd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container-inner {
  width: 90%;
  /* padding: 2rem 0; */
  padding-bottom: 0;
}

.hero-heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.take-survey-span a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(3, 134, 208, 1);
  font-weight: 700;
}

.hero-heading-h3 {
  color: #0d99ff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 100%;
}

.hero-heading-h1 {
  color: #07235b;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 120%;
}

.hero-heading-h2 {
  color: #c33418;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.hero-heading-h4 {
  color: rgba(7, 35, 91, 0.61);
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

.hero-image-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-img {
  width: 100%;
  display: block;
}

.take-survey-span {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(3, 134, 208, 1);
  font-weight: 700;
}

.hero-survey-banner {
  background-color: rgb(148, 212, 255);
  padding: 0.63rem 2rem;
  font-weight: bold;
  text-align: center;
}

/* .hero-survey-banner p:nth-child(1) {
  padding-bottom: 1rem;
} */

.provider-heading {
  margin-top: auto;
  padding-bottom: 1rem;
}

.second-banner {
  background-color: #d1ecff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes slideText {
  0%,
  15% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(70vw);
  }
  65.01% {
    transform: translateX(-70vw);
  }
  100% {
    transform: translateX(0);
  }
}

.second-banner p {
  overflow: hidden;
  display: block;
  position: relative;
  animation: slideText 10s linear infinite;
}

.letter {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}

.second-banner > div:first-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.second-banner > div:last-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.blue-banner {
  background-color: #07235b;
  width: 15%;
  height: 2rem;
}

@media only screen and (max-width: 1024px) {
  @keyframes slideText {
    0%,
    15% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(100vw);
    }
    65.01% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  .second-banner > div {
    display: none;
  }

  .second-banner {
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .second-banner p {
    animation: slideText 7s linear infinite;
  }
}

@media only screen and (max-width: 480px) {
  .second-banner p {
    animation: slideText 5s linear infinite;
  }
  .hero-survey-banner {
    font-size: 1rem;
  }
  .hero-container-inner h2.provider-heading {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .hero-container-inner h2.provider-heading {
    display: none;
  }

  .hero-survey-banner {
    font-size: 1.2rem;
  }

  .hero-heading-h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 100%;
  }

  .hero-heading-h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
  }

  .hero-heading-h2 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 110%;
  }

  .hero-heading-h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    color: rgba(133, 142, 173, 1);
  }

  .hero-container-inner {
    display: flex;
    flex-direction: column;
  }

  .hero-image-container {
    width: fit-content;
    align-self: flex-end;
  }

  .hero-img {
    max-width: 480px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-container-inner {
    display: flex;
    max-width: 1216px;
    justify-content: space-between;
  }

  .hero-heading-container {
    width: 60%;
    justify-content: center;
    margin-top: 5rem;
  }

  .hero-heading-h3 {
    color: #07235b;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 110%;
  }

  .hero-heading-h1 {
    color: #07235b;
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
  }

  .hero-heading-h2 {
    color: #c33418;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 110%;
  }

  .hero-heading-h4 {
    color: #07235b;
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
  }

  .hero-image-container {
    width: 40%;
  }
}
