.information-header {
  width: 100%;
  position: relative;
}

.information-header-heading-card {
  width: 100%;
  padding: 1rem;
  height: 15rem;
}

.nf-journey {
  max-width: 80%;
  object-fit: cover;
}

.information-card-container
  .information-card:nth-child(2)
  .information-card-heading-block {
  background-color: #94d4ff;
  border: 2px solid #94d4ff;
}

.information-header-heading {
  color: #ffffff;
}

.information-header-img {
  width: 18rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .information-header {
    max-width: 512px;
  }

  .information-header-heading-card {
    aspect-ratio: 1 / 0.8;
    min-height: 500px;
    text-align: center;
  }

  .information-header-heading-card-inner {
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .information-header {
    max-width: 1216px;
    max-height: 320px;
  }

  .information-header-heading-card {
    width: 50%;
    left: 20%;
    max-width: 800px;
    height: 520px;
    position: relative;
    z-index: 2;
  }

  .information-header-heading-card-inner {
    height: 100%;
    padding: 2rem;
  }

  .information-header-img {
    width: 40%;
    height: 90%;
    object-fit: cover;
    left: auto;
    top: 20%;
    right: 20%;
    transform: none;
  }
}

@media screen and (max-width: 480px) {
  .information-header-img {
    width: 16.1rem;
    top: 38%;
  }
  .information-tab-container {
    padding: 0px !important;
  }

  .information-header-heading-card {
    height: 30rem;
    text-align: center;
  }
  .information-header-heading-card-inner {
    border-radius: 5px;
  }
}
