.informationHeader {
  width: 100%;
  position: relative;
}

.informationHeaderHeadingCard {
  width: 100%;
  padding: 1rem;
  height: 15rem;
}

.nfJourney {
  max-width: 80%;
  object-fit: cover;
}

.informationCardContainer
  .informationCard:nth-child(2)
  .informationCardHeadingBlock {
  background-color: #94d4ff;
  border: 2px solid #94d4ff;
}

.informationHeaderHeading {
  color: #ffffff;
}

.informationHeaderImg {
  width: 18rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  .informationHeader {
    max-width: 512px;
  }

  .informationHeaderHeadingCard {
    aspect-ratio: 1 / 0.8;
    min-height: 500px;
    text-align: center;
  }

  .informationHeaderHeadingCardInner {
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .informationHeader {
    max-width: 1216px;
    max-height: 320px;
  }

  .informationHeaderHeadingCard {
    width: 50%;
    left: 20%;
    max-width: 800px;
    height: 520px;
    position: relative;
    z-index: 2;
  }

  .informationHeaderHeadingCardInner {
    height: 100%;
    padding: 2rem;
  }

  .informationHeaderImg {
    width: 40%;
    height: 90%;
    object-fit: cover;
    left: auto;
    top: 20%;
    right: 20%;
    transform: none;
  }
}

@media screen and (max-width: 480px) {
  .informationHeaderImg {
    width: 16.1rem;
    /* top: 40%; */
    bottom: 0;
    margin-top: -20px;
  }
  .informationTabContainer {
    padding: 0px !important;
  }

  .informationHeaderHeadingCard {
    height: 30rem;
    text-align: center;
  }
  .informationHeaderHeadingCardInner {
    border-radius: 5px;
  }
}
