

/* more-info styling */
.more-info {
  background: url("src/Assets/Images/Research background.png"), lightgray 50% / cover no-repeat;
  background-position: center;
  max-width: 100%;
  width: 100%;
  padding: 2rem;
  margin: 0.1rem auto;
}

.more-info-p, 
.more-info-span {
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
}

.more-info-p {
  color: var(--sn-primary-headings-07235-b, #07235b);
  font-size: 0.5rem;
  line-height: 1.3;
}

.more-info-span {
  color: var(--sn-black, #000);
  font-size: 1.5rem;
  line-height: 1.43;
  padding-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

/* Media queries for improved responsiveness */
@media only screen and (min-width: 768px) {
  .more-info-p {
    font-size: 1.25rem;
  }

  .more-info-span {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .more-info {
    max-width: 80%;
  }

  .more-info-p {
    font-size: 1.5rem;
  }

  .more-info-span {
    font-size: 2rem;
  }

}


@media only screen and (max-width: 425px) {
  .info {
    padding: 0 1rem;
  }
}





























/* Base styling */

/* .info {
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: #333;
} */

.evorolimus {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.evorolimus-span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.evorolimus-p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.evorolimus-img {
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
}

/* Animation class for sliding in the text */

.slide-in-text.active {
  transform: translateY(0);
  opacity: 1;
}

.slide-in-text {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s;
}

/* Responsive Styling */

@media (min-width: 768px) {
  
  .evorolimus {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .evorolimus-span {
    font-size: 2rem;
  }

  .evorolimus-p {
    font-size: 1.2rem;
  }

  .evorolimus-img {
    margin-left: 1rem; 
    width: 40%; 
    max-width: initial;
  }
}

@media (min-width: 992px) {

  .evorolimus-span {
    font-size: 2.5rem;
  }

  .evorolimus-p {
    font-size: 1.4rem;
  }

}


















