.slideInText {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.slideInText.active {
  opacity: 1;
  transform: translateX(0);
}

.mainSection {
  background: url("src/Assets/Images/Research background.png"),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  padding: 3rem 5rem;
}

.mainSection section {
  display: grid;
  gap: 1.5rem;
}

.mainSection section p {
  color: var(--SN-Primary-Headings-07235B, #07235b);
  text-align: justify;
}

.mainSection header {
  padding-block: 2rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .mainSection section p {
    font-size: 1rem;
  }
}
