.container {
    margin: 0 auto;
    width: 90%;
} 
.openings-container{
    background-color: rgb(242, 248, 253);
}
.openings-img {
     padding-top: 10px;
     margin-left: 85px;
    position: relative;
     display: flex;
     justify-content: center;
     text-align: center;
     
    
    
  }

  .openings-side {
    display: flex;
    width: 290px;
    height: 362px;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    left: 210px;
    top: 390px;
    bottom: 0.984px;
    box-shadow: 0px 17px 40px 0px rgba(0, 0, 0, 0.4);
    background: var(--SN-Primary-Headings-07235B, #07235b);
    position: absolute;
    z-index: 2;
  }

  .openings-side-h2 {
    width: 100%;
    height: auto;
    color: var(--SN-Light-Blue, #0D99FF);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    align-self: stretch;     
} 
.openings-side-h1 {
    width: 100%;
    height: auto;
    color: #FFF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;  
    align-self: stretch;
}



.openings-titles {
    margin-top: 140px;
}
.openings-title-h2 {
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; 
    margin-bottom: 10px;
}
.openings-title-h1 { 
    color: var(--SN-Primary-Headings-07235B, #07235B);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; 
    align-self: stretch;
    margin-bottom: 30px;
 } 


 .openings-title-h3 {
    
    color: #07235B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;  
}

.openings-span {
    color: #07235B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-decoration-line: underline;
    cursor: pointer; 
} 