.firstPart {
  padding-top: 0.5rem;
}

.firstPart,
.Introduction,
.Introduction section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.headerSection,
.heroTitle {
  text-align: center;
}

.image {
  max-width: 60%;
}

.heroTitle {
  background-color: var(--SN-Primary-Headings-07235B, #07235b);
  color: #fff;
  padding: 2rem;
  width: 100%;
}

.heroTitle h2 {
  padding-bottom: 1rem;
}

.Introduction section {
  gap: 1rem;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .firstPart {
    padding-top: 0.5rem;
  }
  .image {
    max-width: 60%;
  }
  .heroTitle h2 {
    font-size: 1.87rem;
  }
  .heroTitle h1 {
    font-size: 2.25rem;
  }
  .heroTitle {
    padding: 2rem 2rem;
  }
  .Introduction section {
    font-size: 1rem;
  }
}
