.closeImg{
    position: relative;
    top: 90px;
    left: 0;
    height: 47px;
}


@media screen and (max-width: 760px) {
    .closeImg{
        top: 100px;
        left: 0;
        height: 47px;
    }
}

@media screen and (min-width: 761px) and (max-width: 768px) {
    .closeImg{
        top: 130px;
        left: 0;
        height: 47px;
    }
}