.progressDotBar {
  display: flex;
  justify-content: center;
}

.progressBarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0 1rem 0;
}

.progressBarSection .progressDotBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 2rem;
  width: 800px;
}

.progressBarSection .dot,
.progressBarSection .dot.active,
.progressBarSection .dot.done {
  border: 2.4px solid var(--SN-Primary-Headings-07235B, #07235b);
}

.progressBarSection .dot {
  margin: 0;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  background-color: #fff;
}

.progressBarSection .dot.checked {
  background-color: #abc5ec;
}

.progressDotBar::after {
  position: absolute;
  content: "";
  width: calc(100% - 8px);
  height: 2px;
  background-color: var(--SN-Primary-Headings-07235B, #07235b);
  left: 4px;
  z-index: 1;
}

.progressBarSection .dot.active {
  background: var(--SN-Primary-Headings-07235B, #07235b);
}

.progressBarSection .dot.done {
  background: #abc5ec;
}

.progressBarSection span,
.topSection span {
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 100px;
  margin-left: 100px;
}

.dot.active {
  background-color: #ff0000; /* Use your desired active color */
}

@media screen and (max-width: 480px) {
  .progressBarSection .dot {
    width: 0.62rem;
    height: 0.62rem;
  }
  .progressBarSection .progressDotBar {
    margin: 0;
  }
}
