.progress-dot-bar {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.progress-bar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0 1rem 0;
}

.progress-bar-section .progress-dot-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 2rem;
  /* TODO: Normalize the size of the progress bar */
  width: 800px;
}

.progress-bar-section .dot,
.progress-bar-section .dot.active,
.progress-bar-section .dot.done {
  border: 2.4px solid var(--SN-Primary-Headings-07235B, #07235b);
}

.progress-bar-section .dot {
  margin: 0;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  background-color: #fff;
}

.progress-bar-section .dot.checked {
  background-color: #abc5ec;
}

.progress-dot-bar::after {
  position: absolute;
  content: "";
  width: calc(100% - 8px);
  height: 2px;
  background-color: var(--SN-Primary-Headings-07235B, #07235b);
  left: 4px;
  z-index: 1;
}

.progress-bar-section .dot.active {
  background: var(--SN-Primary-Headings-07235B, #07235b);
}

.progress-bar-section .dot.done {
  background: #abc5ec;
}

.progress-bar-section span,
.top-section span {
  color: var(--SN-Primary-Headings-07235B, #07235b);
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 100px;
  margin-left: 100px;
  /* justify-content: space-evenly; */
}

.dot.active {
  background-color: #ff0000;
  /* Use your desired active color */
}

@media screen and (max-width: 480px) {
  .progress-bar-section .dot {
    width: 0.62rem;
    height: 0.62rem;
  }
  .progress-bar-section .progress-dot-bar {
    margin: 0;
  }
}
