/* mobile view */
.partnership-img {
  display: none;
}

.partner-heading-block {
  width: 100%;
  max-width: 1216px;
  background-image: url("src/Assets/Images/partner-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.partner-heading {
  color: #062758;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

.partner-content-block {
  width: 100%;
  background-color: rgb(148, 249, 210);
}

.first-block {
  background-color: rgb(148, 249, 210);
}

.second-block {
  background-color: rgb(253, 189, 177);
}

.partner-content-block.tablet {
  display: none;
}

.partner-mobile-img {
  width: 100%;
  display: block;
}

.partner-heading-block aside {
  max-width: 40%;
  padding: 5rem 0 3rem 09rem;
}

.partner-heading {
  font-size: 3rem;
  line-height: 143%;
  font-weight: 400;
  color: #fff;
}

.partner-paragraph {
  font-size: 1.5rem;
  color: #fff;
}
/* Tablet view */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .partner-heading-block aside {
    max-width: 100%;
    padding: 4rem 0 4rem 4rem;
  }

  .partner-content-block.mobile {
    display: none;
  }

  .partner-content-block.tablet {
    display: block;
  }
}
/* Desktop view */
@media only screen and (min-width: 1024px) {
  .partner-heading-block {
    margin-bottom: 1rem;
  }
  .partner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner-content-block.mobile {
    display: none;
  }

  .partner-content-block {
    max-width: 1216px;
  }

  .partner-content-block.desktop {
    display: flex;
  }

  .partner-content-block.desktop-reverse {
    flex-direction: row-reverse;
  }

  .partnership-img {
    display: block;
  }

  .partnership-img {
    width: 100%;
    height: 416px;
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  .partner-heading {
    font-size: 2.25rem;
    font-weight: 600;
  }
  .partner-heading-block aside {
    padding: 3rem 1rem;
    text-align: center;
    max-width: 100%;
  }
}
