.TeamPage-holder-tab{
    overflow-x: hidden;
}

.page-holder{
    margin:0 auto;
    width: 90%;
    max-width: 1006px;
}
.teamboard-tab4{
    transform: translateX(50%);
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out; 
}


.grid-tab {
    margin-top: 40px;
    max-width: 100%; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    background-color: #DCE8F2;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box; 
}
.gridd{
     transform: translateX(50%);
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out; 
}

.grid-tab3{
    margin-top: 40px;
    width: 1006px;
    display: grid;
    grid-template-columns: 180px auto auto;
    background-color: #DCE8F2;
    border-radius: 10px;
    padding: 20px; 

    
}


.gridd.slide-in,.teamboard-tab4.slide-in
{
    opacity: 1;
    transform: translateX(0);
}
.board-image img{
    width:100%;
}


.bold-color-text{
    color:#07235B;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.019em;
    text-align: left;


}
/* Style the container */
.grid-tab3 {
    margin-top: 40px;
    max-width: 100%; 
    width: 100%;
    display: grid;
    grid-template-columns: 100%; 
    background-color: #DCE8F2;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box; 
}

/* Style the TeamName */
.grid-tab-texter {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.019em;
    text-align: left;
    color: #858EAD;
}

/* Style the Roles paragraph */
.content-tab p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #07235B;
    padding: 20px;
}

/* Style the Names */
.content-name {
    background-color: white;
    border-radius: 10px;
    padding: 24px;
}

.content-name p {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.019em;
    text-align: left;
    padding: 2px;
}

/* Media query for screens larger than a certain width (e.g., 768px) */
@media screen and (min-width: 768px) {
    .grid-tab3 {
        grid-template-columns: 180px auto auto; 
        max-width: 1006px; 
    }
}
