.cause-container {
  display: grid;
  gap: 1.8rem;
  padding: 1.5rem;
}

.cause-container > div p {
  padding: 0.8rem;
}

.cause-container h1 {
  color: #07235b;
}

.doc-img {
  max-width: 80%;
}

@media screen and (max-width: 1024px) {
  .doc-img {
    max-width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 479px) {
  .cause-container {
    gap: 0.6rem;
    padding: 0;
  }
  .cause-container h1,
  .cause-container > div {
    font-size: 1rem;
  }
}
